
<!-- modal con todos los items PROYECTOS ARQ----------------------------------------------------------------------------->
<div class="modal fade" id="modalItemsProyArq" tabindex="-1" aria-hidden="true" aria-labelledby="modalItemsProyArq">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalItemsProyArq">Proyectos Arq</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- agregar item -->
                <div class="text-end">
                    <button data-bs-target="#modalEditOrAddProyArq" data-bs-toggle="modal"
                        class="btn btnEditModal mt-2 mb-2">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <hr>
                <div class="container mb-1">
                    <!-- listado de items cargados-->
                    <div class=" mt-4" *ngFor="let cadaProyArq of proyectoArq">
                        <div class="">
                            <!-- <p><b>ID: </b> {{cadaProyArq.id}}</p> -->
                            <p ><b>Imagen Proyecto: </b>{{cadaProyArq.imgPageProyecto}}</p>
                            <p><b>Link/Imagen Externa: </b>{{cadaProyArq.hrefTargetBlank}}</p>
                            <p><b>Título: </b>{{cadaProyArq.tituloProyecto}}</p>
                            <p><b>Descripción: </b>{{cadaProyArq.descripcion}}</p>
                        </div>
                        <div class="text-end">
                            <button class="btn btnEditModal" (click)="cadaProyArq.id? findProyArq(cadaProyArq.id): null"
                                data-bs-toggle="modal" data-bs-target="#modalEditOrAddProyArq">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn btnEditModal"
                                (click)="cadaProyArq.id? deleteProyArq(cadaProyArq.id): null">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Edit Or Add PROYECTOS ARQ-------------------------------------------------------------------------------------->
<div class="modal fade" id="modalEditOrAddProyArq" tabindex="-1" aria-hidden="true"
    aria-labelledby="modalEditOrAddProyArq">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="modalEditOrAddProyArq">Agregar/Editar Proyectos Arq</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
            </div>
            <div class="modal-body text-center justify-content-between">
                <form [formGroup]="pForm"> 
                    <!-- input img ------------------------------------------------------------------------------ -->
                    <div>
                        <div class=" form-floating mb-4 mt-2">
                            <input type="text" formControlName="imgPageProyecto"
                                class="form-control rounded-0 formulariosinput" id="floatingInput17"
                                placeholder="imgPageProyecto" [ngClass]="{'is-invalid': Img?.errors && Img?.touched, 
                                              'is-valid': !Img?.errors }">
                            <label for="floatingInput17">Imagen en Página</label>
                        </div>
                        <div *ngIf="Img?.errors && Img?.touched">
                            <p *ngIf="Img?.hasError('required')" class="error2 text-start">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                    <!-- input hrefTargetBlank ------------------------------------------------------------------- -->
                    <div>
                        <div class=" form-floating mb-4">
                            <input type="text" formControlName="hrefTargetBlank"
                                class="form-control rounded-0 formulariosinput" id="floatingInput18"
                                placeholder="hrefTargetBlank" 
                                [ngClass]="{'is-invalid': ImgTB?.errors && ImgTB?.touched, 
                                              'is-valid': !ImgTB?.errors}">
                            <label for="floatingInput18">Link/Imagen Externa</label>
                        </div>
                        <div *ngIf="ImgTB?.errors  && ImgTB?.touched">
                            <p *ngIf="ImgTB?.hasError('required')" class="error2 text-start">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                    <!-- input tituloProyecto -------------------------------------------------------------------- -->
                    <div>
                        <div class=" form-floating mb-4">
                            <input type="text" formControlName="tituloProyecto" class="form-control rounded-0 formulariosinput"
                                id="floatingInput19" placeholder="tituloProyecto" 
                                [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched, 
                                              'is-valid': !Titulo?.errors }">
                            <label for="floatingInput19">Título</label>
                        </div>
                        <div *ngIf="Titulo?.errors && Titulo?.touched">
                            <p *ngIf="Titulo?.hasError('required')" class="error2 text-start">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                    <!-- input descripcion ------------------------------------------------------------------------- -->
                    <div>
                        <div class=" form-floating mb-4">
                            <textarea type="text" formControlName="descripcion"
                                class="form-control rounded-0 formulariosinput" placeholder="descripcion"
                                id="floatingTextarea20" style="height: 85px" ></textarea>
                            <label for="floatingTextarea20">Descripción</label>
                        </div>
                    </div>                   
                    <!-- guardar----------------------------------------------------------------------------------- -->
                    <br class="pt-0 mb-0">
                    <hr class="w-75 m-auto mt-0 mb-4">
                    <button type="btn" class="btn btn-ligth fa-solid fa-rotate-right" (click)="limpiar()"></button>
                    <button type="btn" class="w-100 mb-5 mt-3 btn btn-lg rounded-0 btn-loginout3" (click)="saveProyArq()"
                        data-bs-dismiss="modal" [disabled]="pForm.invalid">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
