<!-- footer formulario ok, creo que le falta la etiqueta/////////// form //////////////////////////////////////////////////////////////-->
<section id="contacto" class=" container-fluid seccion-oscura section-contactame  m-0 pb-0 pt-5">
    <!--  -->
    <div class="container">

        <div class="row mt-3 ">
            <!-- botones edicion seccion ---------------------------------------->
            <div class="text-end">
                <button type="button" class="botonEditSeccionOscura" data-bs-toggle="modal"
                    data-bs-target="#modalContacto">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <!-- <button type="button" class="botonEditSeccionOscura"><i class="fa-solid fa-plus"></i></button> -->
                <!-- <button type="button" class="botonEditSeccionOscura"><i class="fa-solid fa-trash"></i></button> -->

                <!-- **************maybe hacer un modal largo que permita agregar una subseccion de skills? tipo idiomas etc? y dentro de cada una agregar the skills -->

            </div>
            <!-- <div class="col-sm-5 ml-auto mr-auto text-start   p-5 "> -->

            <!-- al final subi un poco contacto para alinear conel formen ipad, mess im doing ,unificar los paddingssssssssssssssssssssssssssssssssssssssssss
                     -->
            <div class="col-sm-6    p-5 pt-4">
                <h2 class="seccion-titulo ">Contactame</h2>

                <div class="pt-4 pb-1">
                    <p class="">• Proyectos de Arquitectura. Anteproyectos, Modelos 3D SKP, renders,
                        presentaciones, legajos de obra, planos ejecutivos, presupuestos y seguimiento de obra. </p>

                    <p class="pt-3">• Proyectos de Diseño Web. Concept Design, mockups, frontend y backend,
                        sitios web responsive, administracion de base de datos nivel jr. </p>
                </div>

                <p class="pt-5">
                    ¿Necesitás un sitio web propio o para tu negocio o querés desarrollar de un proyecto de arquitectura
                    en concreto? Buscame en redes sociales o mandame un email directo.<br>Creemos un proyecto juntos...
                </p>
                <div class="iconos-redes-sociales d-flex flex-wrap mt-5 ">
                    <!-- align-items-center justify-content-center -->
                    <!-- <a href="https://twitter.com/freecodecampES" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-twitter"></i>
                        </a> -->


                    <!-- no puedo fucking espaciar los iconos en ipad, wtfuckkkkkkkkkkkkkkk -->
                    <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-linkedin"></i>
                    </a>

                    <a href="https://github.com/ol-s" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github"></i>
                    </a>

                    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-instagram"></i>
                    </a>

                    <!-- mailtoooooooooooooooooooooooooooooo -->
                    <a href="mailto:janedoe@correo.com" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                </div>

            </div>

            <!-- <div class="col-sm-6 text-center col-md-8 ml-auto mr-auto"> -->
            <div class="col-sm-6  ml-auto mr-auto p-5  ">

                <div class="pt-4"></div>

                <!-- pt-4 para alinear con titulo contactame,  a mess estoy haciendo -->
                <div class="input-group input-lg pt-5">
                    <div class="input-group-prepend">
                        <!-- <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                        </span> -->
                    </div>
                    <input type="text" class="form-control-footer rounded-0 mb-3 bg-transparent "
                        placeholder="Tu nombre...">
                </div>
                <div class="input-group input-lg">
                    <div class="input-group-prepend">
                        <!-- <span class="input-group-text">
                          <i class="now-ui-icons ui-1_email-85"></i>
                        </span> -->
                    </div>
                    <input type="text" class="form-control-footer rounded-0 mb-3 bg-transparent"
                        placeholder="Tu email...">
                </div>
                <div class="textarea-container">
                    <textarea class="form-control-footer rounded-0  mb-3 bg-transparent" name="name" rows="6" cols="80"
                        placeholder="Tu mensaje..."></textarea>
                </div>
                <div class="send-button text-end">
                    <a href="#" class="btn btn-outline-info rounded-0 bg-transparent">Enviar</a>
                    <!-- btn-block   ocupa 100% del ancho 
                    class="btn btn-outline-info btn-round  btn-block btn-xs rounded-0 bg-transparent">-->
                </div>
            </div>

            <!-- 
            <hr>
            <div class="copyrights text-center"> &#169; 2022-2023 Soledad Fretes</div> -->



        </div>
    </div>
</section>
<section class="seccion-oscura foot">
    <!-- <hr> -->
    <div class="copyrights text-center"> &#169; 2022-2023 Soledad Fretes</div>
</section>
<!-- fin footer formulario ok, creo que le falta la etiqueta////// form /////////////////////////////////////////////////////////////-->

<!-- about ME
Hola, soy sf
Soy arquitecta y diseño y creo sitios web.
Como desarrolladora fullstack, vigilo el diseño y la facilidad de uso de su sitio web.
Me enfoco en presentar su contenido de una manera atractiva y optimizada para todos los dispositivos (teléfono inteligente, tableta, computadora de escritorio).

Concedo gran importancia a un diseño claro y conciso. Cada uno de mis sitios web y proyectos de arquitectura está diseñado individualmente y optimizado para cada necesidad, no utilizo plantillas en ninguno de los casos.

EXPERIENCIA
Trabajo de manera particular(freelance) desde el anio 2017 realizando proyectos de arquitectura y disenio...

SERVICIOS
¿Necesitás un sitio web propio o para tu negocio o querés desarrollar de un proyecto de arquitectura en concreto? Entonces
raelizame una consulta inicial gratuita ahora. -->


<app-modal-contacto></app-modal-contacto>