<app-bannerfooter></app-bannerfooter>

<!-- footer formulario ok, creo que le falta la etiqueta/////////// form //////////////////////////////////////////////////////////////-->
<section id="contacto" class=" container-fluid seccion-oscura section-contactame  m-0 pb-0 pt-5">
    <!--  -->
    <div class="container">

        <div class="row mt-3 ">
            <!-- botones edicion seccion ---------------------------------------->
            <div class="text-end pe-3 pt-3">
                <button type="button" class="botonEditSeccionOscura " data-bs-toggle="modal"
                    data-bs-target="#modalContacto">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </div>
           
            <div class="col-sm-6  p-5 pt-4" *ngFor="let itemPersona of personaItems">
                <h2 class="seccion-titulo ">Contactame</h2>
                <div class="pt-4 pb-1">
                    <p class="">• {{itemPersona.servicios1}}</p>
                    <p class="pt-2 pb-2">• {{itemPersona.servicios2}}</p>
                </div>
                <div class="pt-4 cierre">
                    <p>{{itemPersona.salida1}}</p>
                    <p>{{itemPersona.salida2}}</p>
                </div>

                <!-- componente redes -->
                <div class="ps-1 mt-4 mb-2">
                    <app-redes></app-redes>
                </div>
            </div>

            <!-- 27-3-23 tnia etiqueta div, le puse form, hacer reactivo, hacer!!! Y VER COMO HACER P QUE FUNCIONE -->
            <form class="col-sm-6  ml-auto mr-auto p-5  ">
                <div class="pt-4"></div>
                <!-- pt-4 para alinear con titulo contactame,  a mess estoy haciendo -->
                <div class="input-group input-lg pt-5">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control-footer rounded-0 mb-3 bg-transparent" placeholder="Tu nombre...">
                </div>
                <div class="input-group input-lg">
  
                    <input type="text" class="form-control-footer rounded-0 mb-3 bg-transparent" placeholder="Tu email...">
                </div>
                <div class="textarea-container">
                    <textarea class="form-control-footer rounded-0  mb-3 bg-transparent" name="name" rows="6" cols="80"
                        placeholder="Tu mensaje..."></textarea>
                </div>
                <div class="send-button text-end">
                    <a href="#" class="btn btn-outline-info rounded-0 bg-transparent">Enviar</a>
                    <!-- btn-block   ocupa 100% del ancho 
                    class="btn btn-outline-info btn-round  btn-block btn-xs rounded-0 bg-transparent">-->
                </div>
            </form>
        </div>
    </div>
</section>

<section class="seccion-oscura foot" *ngFor="let itemPersona of personaItems">
    <div class="copyrights text-center"> &#169; {{itemPersona.copyrights}}</div>
    <!-- <div class="copyrights text-center"> &#169; 2022-2023 Soledad Fretes</div> -->
</section>









<!-- about ME----------------USAR COMPLETARRR
Hola, soy sf
Soy arquitecta y diseño y creo sitios web.
Como desarrolladora fullstack, vigilo el diseño y la facilidad de uso de su sitio web.
Me enfoco en presentar su contenido de una manera atractiva y optimizada para todos los dispositivos (teléfono inteligente, tableta, computadora de escritorio).

Concedo gran importancia a un diseño claro y conciso. Cada uno de mis sitios web y proyectos de arquitectura está diseñado individualmente y optimizado para cada necesidad, no utilizo plantillas en ninguno de los casos.

EXPERIENCIA
Trabajo de manera particular(freelance) desde el anio 2017 realizando proyectos de arquitectura y disenio...

SERVICIOS
¿Necesitás un sitio web propio o para tu negocio o querés desarrollar de un proyecto de arquitectura en concreto? Entonces
raelizame una consulta inicial gratuita ahora. -->


<app-modal-contacto></app-modal-contacto>