


    <!-- half banner1 //////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////// -->
    <!-- le pongo 100vh altura en css, para que se adapte a cualquier pantalla y no quede truncado -->
    <div class="banner1">
        <!-- botones edicion seccion ---------------------------------------->
        <!-- no se como ponerlo abajo-->
        <div class="text-end ">
            <button type="button" class="botonEditSubseccionOscura"  data-bs-toggle="modal"
            data-bs-target="#modalBanner1"  ><i class="fa-solid fa-pen"></i></button>
            <!-- <button type="button" class="botonEditSubseccionOscura"><i class="fa-solid fa-plus"></i></button> -->
            <button type="button" class="botonEditSubseccionOscura"><i class="fa-solid fa-trash"></i></button>
        </div>
  




        <!--  cada vez que meto modal se me rommpe todo, y si lo pongo fuera del div ni         s       iquiera abre, ni hablar de meterlo bajo el footer -->







<!-- ************************************************************************************ 
 *******************************************************************************
 *******************************************************************************
 *******************************************************************************
 *******************************************************************************-->




        <!--  gaby modal    dejo porque no me sale nada
            esto queda fijo ahi sin tocar el boton
            HARTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA  IM FUCKING DEPRESS, PARA        QUE HACER ESTO, NI AUTOCAD SE USAR -->

     <!-- <div class="modal-content">
        <div class="modal-header">
            <h1 id="" class="modal-title fs-5">Editar Banner</h1><i data-bs-target="#modalBanner1"
                data-bs-toggle="modal" aria-label="Volver" class="fa-solid fa-rotate-left"></i>
        </div>
        <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
            <div class="form-group">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12"><label for="url" class="form-label">Enlace</label><input type="text"
                                id="url" placeholder="Banner URL" formcontrolname="url"
                                class="form-control ng-untouched ng-pristine ng-invalid">
                            <div id="urlHelp" class="form-text">Ingresar una URL</div><!---->
                        <!-- </div>
                        <div class="col-12 mt-3"><label for="description" class="form-label">Descripción</label><input
                                type="text" id="description" placeholder="Descripción de la imagen"
                                formcontrolname="description" class="form-control ng-untouched ng-pristine ng-invalid">
                            <div id="descriptionHelp" class="form-text">Ingresar una descripción</div>
                        </div>
                        <div class="col-12 mt-3"><label for="hero" class="form-label">Hero</label><input type="text"
                                id="hero" placeholder="Hero" formcontrolname="hero"
                                class="form-control ng-untouched ng-pristine ng-invalid">
                            <div id="heroHelp" class="form-text">Ingresar un hero</div>
                        </div>
                        <div class="col-12 mt-3"><label for="subhero" class="form-label">Subhero</label><input
                                type="text" id="subhero" placeholder="Subhero" formcontrolname="subhero"
                                class="form-control ng-untouched ng-pristine ng-invalid">
                            <div id="subheroHelp" class="form-text">Ingresar un subhero</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button data-bs-target="#bannersModal" data-bs-toggle="modal"
                        aria-label="Actualizar" class="btn btn-black-mini">Actualizar</button></div> 
            </div>
        </form>-->
    </div> 






    <!-- fin half banner1 //////////////////////////////////////////////
        /////////////////////////////////////////////////////////////// -->

