  .banner1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* apago y lo traigo desde el json en []html */
    /* background-image: url("/assets/img/banner/1banner.jpg"); */
    opacity: 0.95;
    /* ajustable a cualquier pantalla */
    height: 100vh;
    /* min-height: 51em; */
  }

  p {
    font-size: 1em;
    /* color: var(--color-texto-header); */
  }

  b {
    font-weight: 600;
    /* color:var(--color-texto-medio); */
  }