<!-- banner entrada + modal edit todos los banners------------------------------------------------------------------>
<div *ngFor="let itemPersona of personaItems" class="container-fluid">
    <!--  title="By Mo Eid" -->
    <div class="banner1" [ngStyle]="{'background-image': ' url(' + itemPersona.bannerEntrada + ')'}">
        <div class="text-end ">
           <!-- modal en un paso/click aca abajo + ts lo que iba en los modales en dos pasos -->
            <button type="button" class="botonEditSeccionOscura" data-bs-toggle="modal" *ngIf="modoEdit"
                data-bs-target="#modalBannersInsideComponent" (click)="itemPersona.id? findPers(itemPersona.id): null">
                <i class="fa-solid fa-pen"></i>
            </button>
        </div>
    </div>
</div>


<!--Modal Edit Banners --------------------------------------------------------------------------------------------->
<div class="modal fade" id="modalBannersInsideComponent" tabindex="-1" aria-hidden="true"
    aria-labelledby="modalBannersInsideComponent">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="modalBannersInsideComponent">Editar Banners</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>*Reemplazar nombre del archivo o insertar desde una URL</p>
                <hr class="w-75 m-auto mt-4 mb-4">
                <form [formGroup]="persoForm"> <!-- (ngSubmit)="onSubmit($event)" id="swForm"    tiene el save abajo-->
                    <!-- input ---- ------------------------------------------------------------------------- -->
                    <div>
                        <h5>Banner Entrada</h5>
                        <!--   <div class=" form-floating mb-4"> -->
                        <div class="mb-4">
                            <input type="text" formControlName="bannerEntrada"
                                class="form-control rounded-0 formulariosinput" id="floatingInput10"
                                placeholder="" 
                                [ngClass]="{'is-invalid': BannerEntrada?.errors && BannerEntrada?.touched,
                                              'is-valid': !BannerEntrada?.errors}">
                            <!-- <label for="floatingInput10">Reemplazar nombre del archivo o insertar desde una URL</label> -->
                        </div>
                        <div *ngIf="BannerEntrada?.errors  && BannerEntrada?.touched">
                            <p *ngIf="BannerEntrada?.hasError('required')" class="error2 text-start">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                    <!-- input -------------------------------------------------------------------------------- -->
                    <div class="mt-3">
                        <h5>Banner Sobre Mi</h5>
                        <div class="mb-4">
                            <input type="text" formControlName="bannerAvatar"
                                class="form-control rounded-0 formulariosinput" id="floatingInput11"
                                placeholder="" 
                                [ngClass]="{'is-invalid': BannerAvatar?.errors && BannerAvatar?.touched,
                                              'is-valid': !BannerAvatar?.errors }">
                            <!-- <label for="floatingInput11">Reemplazar nombre del archivo o insertar desde una URL</label> -->
                        </div>
                        <div *ngIf="BannerAvatar?.errors  && BannerAvatar?.touched">
                            <p *ngIf="BannerAvatar?.hasError('required')" class="error2 text-start">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                    <!-- input ------------------------------------------------------------------------------ -->
                    <div class="mt-3">
                        <h5>Banner Educación</h5>
                        <div class="mb-4">
                            <input type="text" formControlName="bannerEducacion"
                                class="form-control rounded-0 formulariosinput" id="floatingInput12"
                                placeholder="" 
                                [ngClass]="{'is-invalid': BannerEducacion?.errors && BannerEducacion?.touched,
                                              'is-valid': !BannerEducacion?.errors }">
                            <!-- <label for="floatingInput12">Reemplazar nombre del archivo o insertar desde una URL</label> -->
                        </div>
                        <div *ngIf="BannerEducacion?.errors  && BannerEducacion?.touched">
                            <p *ngIf="BannerEducacion?.hasError('required')" class="error2 text-start">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                    <!-- input ------------------------------------------------------------------------------ -->
                    <div class="mt-3">
                        <h5>Banner Salida</h5>
                        <div class=" mb-4">
                            <input type="text" formControlName="bannerSalida"
                                class="form-control rounded-0 formulariosinput" id="floatingInput13"
                                placeholder="" 
                                [ngClass]="{'is-invalid': BannerSalida?.errors && BannerSalida?.touched,
                                              'is-valid': !BannerSalida?.errors }">
                            <!-- <label for="floatingInput13">Reemplazar nombre del archivo o insertar desde una URL</label> -->
                        </div>
                        <div *ngIf="BannerSalida?.errors  && BannerSalida?.touched">
                            <p *ngIf="BannerSalida?.hasError('required')" class="error2 text-start">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                    <!-- guardar ---------------------------------------------------------------------------- -->
                    <div class="text-center justify-content-between">
                        <br class="pt-2 mb-0">
                        <hr class="w-75 m-auto mt-1 mb-4">
                        <button type="btn" class="btn btn-ligth fa-solid fa-rotate-right" (click)="limpiarP()" title="Limpiar Formulario"></button>
                        <button type="submit" class="w-100 mb-5 mt-3 btn btn-lg rounded-0 btn-loginout3"
                            (click)="savePers()" data-bs-dismiss="modal" [disabled]="persoForm.invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



