<!-- modal con todos los items Educacion----------------------------------------------------------------------------->
<div class="modal fade" id="modalItemsEducacion" tabindex="-1" aria-hidden="true" aria-labelledby="modalItemsEducacion">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalItemsEducacion">Educación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- agregar item -->
                <div class="text-end">
                    <button data-bs-target="#modalEditOrAddEducacion" data-bs-toggle="modal"
                        class="btn btnEditModal mt-2 mb-2">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <hr>
                <div class="container mb-1">
                    <!-- listado de items cargados-->
                    <div class=" mt-4" *ngFor="let cadaEstudio of educacion">
                        <div class="">
                            <!-- <p><b>ID: </b> {{cadaEstudio.id}}</p> -->
                            <p><b>Logo Institución: </b>{{cadaEstudio.logoInstitucion}}</p>
                            <p><b>Año/Institución: </b>{{cadaEstudio.anioeInstitucion}}</p>
                            <p><b>Diploma: </b>{{cadaEstudio.titulo}}</p>
                            <!-- <p><b>Descripcion: </b>{{cadaEstudio.descripcion}}</p> -->
                        </div>
                        <div class="text-end">
                            <button class="btn btnEditModal" (click)="cadaEstudio.id? findEstud(cadaEstudio.id): null"
                                data-bs-toggle="modal" data-bs-target="#modalEditOrAddEducacion">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn btnEditModal"
                                (click)="cadaEstudio.id? deleteEstud(cadaEstudio.id): null">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Edit Or Add Estudios-------------------------------------------------------------------------------------->
<div class="modal fade" id="modalEditOrAddEducacion" tabindex="-1" aria-hidden="true"
    aria-labelledby="modalEditOrAddEducacion">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="modalEditOrAddEducacion">Agregar/Editar Estudios</h5>
                <!-- limpiar form al cerrar sin enviar/editar click limpiar, no funciona cerrando modal sin 'x' ofc -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
            </div>
            <div class="modal-body text-center justify-content-between">
                <form [formGroup]="eduForm"> <!-- (ngSubmit)="onSubmit($event)" id="eduForm"    tiene el save abajo-->
                    <!-- input logo --------------------------------------------------------------------------- -->
                    <div>
                        <div class=" form-floating mb-4 mt-2">
                            <input type="text" formControlName="logoInstitucion"
                                class="form-control rounded-0 formulariosinput" id="floatingInput30"
                                placeholder="logoInstitucion" [ngClass]="{'is-invalid': Logo?.errors && Logo?.touched, 
                                              'is-valid': !Logo?.errors }">
                            <label for="floatingInput30">Logo de la Institución</label>
                        </div>
                        <div *ngIf="Logo?.errors && Logo?.touched">
                            <p *ngIf="Logo?.hasError('required')" class="error2 text-start">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                    <!-- input institucion --------------------------------------------------------------------- -->
                    <div>
                        <div class=" form-floating mb-4">
                            <input type="text" formControlName="anioeInstitucion"
                                class="form-control rounded-0 formulariosinput" id="floatingInput31"
                                placeholder="anioeInstitucion" [ngClass]="{'is-invalid': AnioeInstitucion?.errors && AnioeInstitucion?.touched, 
                                              'is-valid': !AnioeInstitucion?.errors}">
                            <label for="floatingInput31">Año e Institución</label>
                        </div>
                        <div *ngIf="AnioeInstitucion?.errors  && AnioeInstitucion?.touched">
                            <p *ngIf="AnioeInstitucion?.hasError('required')" class="error2 text-start">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                    <!-- input diploma ------------------------------------------------------------------------- -->
                    <div>
                        <div class=" form-floating mb-4">
                            <input type="text" formControlName="titulo" class="form-control rounded-0 formulariosinput"
                                id="floatingInput32" placeholder="titulo" [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched, 
                                              'is-valid': !Titulo?.errors }">
                            <label for="floatingInput32">Título/diploma</label>
                        </div>
                        <div *ngIf="Titulo?.errors && Titulo?.touched">
                            <p *ngIf="Titulo?.hasError('required')" class="error2 text-start">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                    <!-- guardar--------------------------------------------------------------------------------- -->
                    <br class="pt-0 mb-0">
                    <hr class="w-75 m-auto mt-0 mb-4">
                    <button type="btn" class="btn btn-ligth fa-solid fa-rotate-right" (click)="limpiar()"></button>
                    <button type="btn" class="w-100 mb-5 mt-3 btn btn-lg rounded-0 btn-loginout3" (click)="saveEstud()"
                        data-bs-dismiss="modal" [disabled]="eduForm.invalid">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <input type="hidden" formControlName="id" [(ngModel)]="estudiosTodos.id"> -->