<!-- educacion /////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////// -->
<section>
    <div class="container-fluid seccion-clara" id="educacion">

        <div class="container-fluid ">
            <div class="row">

                <!-- banner educacion ------------------------------------------------------->
                <div class="m-0 col-sm-4 order-sm-first order-last SSSSeducacionFOTO">
                    <!-- botones edicion banner -->
                    <div class="">
                        <button type="button" class="botonEditSeccion"><i class="fa-solid fa-pen"></i></button>
                        <button type="button" class="botonEditSeccion"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
                <!-- order-sm-first order-last agregados para que colapse la foto abajo del texto y no al reves +border
                    https://dev.to/codeply/re-order-grid-columns-in-bootstrap-5-135k
                    https://www.codeply.com/p/T52wfQIdG6 -->


                <div class="m-0 col-sm-8 border SSSSeducacion">
                    <!-- titulo seccion ----------------------------------------------------->
                    <div>
                        <!-- botones edit seccion -->
                        <div class="text-end">
                            <!-- <button type="button" class="botonEditSeccion"><i class="fa-solid fa-pen"></i></button> -->
                            <button type="button" class="botonEditSeccion" data-bs-toggle="modal"
                                data-bs-target="#modalEducacionAdd">
                                <i class="fa-solid fa-plus"></i>
                            </button>

                            <!-- <button type="button" class="botonEditSeccion"><i class="fa-solid fa-trash"></i></button> -->
                        </div>

                        <h2 class="seccion-titulo">Educación</h2>
                    </div>

                    <!-- modulo educacion --------------------------------------------------->
                    <div class="moduloEducacion" *ngFor="let cadaEstudio of estudiosTodos">
                        <div class=" w-l h-l mb-5  logoseducacion">
                            <img [src]="cadaEstudio.logoInstitucion" class="logoseducacion" [alt]="cadaEstudio.logoAlt">
                        </div>
                        <div>
                            <h5>{{cadaEstudio.anioeInstitucion}}</h5>
                        </div>
                        <p class="seccion-texto">{{cadaEstudio.titulo}}</p>

                        <!-- botones edit subseccion -->
                        <div class="text-end">
                            <button type="button" class="botonEditSubseccion" data-bs-toggle="modal"
                                data-bs-target="#modalEducacionEdit">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button type="button" class="botonEditSubseccion" data-bs-toggle="modal"
                                data-bs-target="#modalEliminarItem">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- fin educacion /////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////// -->


<!-- llamo al modal ----------------------------->
<!-- <app-modal-educac-add></app-modal-educac-add> -->
<app-modal-educacion-add></app-modal-educacion-add>
<!-- llamo al modal ----------------------------->
<app-modal-educacion-edit></app-modal-educacion-edit>

<!-- modal eliminar, no se si ponerlo asi, aparte, uno para cada uno de los items(??) o donde -->
<form class="modal fade" id="modalEliminarItem" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">Eliminar estudio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form class="">
                    <button class="w-100 mb-2 mt-5 btn btn-lg rounded-0 btn-loginout3 " type="submit">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
</form>