.moduloEducacion {
  border-bottom: 1px solid var(--color-botones-edit-subseccion);
  padding: 3em .5em 2em 0;
}

.logoseducacion {
  width: 8em;
  transition: all 0.19s ease-out;
  /* 9-4-23 */
}

.logoseducacion:hover {
  /* 9-4-23 */
  transform: scale(1.2);
}

.seccionEducacion {
  background-color: var(--color-background-claro);
  z-index: 1;
  padding: 5em 3em 5em var(--padding-left);
  color: var(--color-links-navbar);
  border-left: 2px solid white !important;
  /* por bordes blanco negro en la superposicion */
}

.educacionBanner {
  background-color: var(--color-background-oscuro1);
  z-index: 1;
  /* background-image: url("/assets/img/banner/3educacion.jpg"); apago para traerla desde el json */
  opacity: 99%;
  min-height: 65em;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}


/* corregido 4 8-5-23 */
@media screen and (max-width: 1000px) {
  .educacionBanner {
    background-position: left;
    background-size: 141%;
  }
}

@media screen and (max-width: 566px) {
  .educacionBanner {
    background-position: left;
    background-size: 140%;
    min-height: 35em;
  }
}

@media screen and (max-width: 500px) {
  .educacionBanner {
    background-position: left;
    background-size: 215%;
    /* min-height: 20em; */
  }
}


p {
  color: var(--color-texto-medio-educacion);
  /* color: var(--color-texto-medio); */
  letter-spacing: 2px;
}