<section>
    <div class="container-fluid seccion-clara" id="educacion">
        <div class="container-fluid ">
            <div class="row">
                <!-- banner educacion dentro de entidad persona en el back -->
                <div class="m-0 col-sm-4 order-sm-first order-last educacionBanner"
                    *ngFor="let itemPersona of personaItems"
                    [ngStyle]="{'background-image': ' url(' + itemPersona.bannerEducacion + ')'}">
                    <!-- editable junto con todos los banners arriba -->
                    <!-- <div class=" ">
                        <button type="button" class="botonEditSeccionOscura"><i class="fa-solid fa-pen"></i></button>                       
                    </div> -->
                </div>
                <div class="m-0 col-sm-8 border seccionEducacion">
                    <!-- titulo seccion -->
                    <div>
                        <div class="text-end">
                            <!-- modal con items en dos pasos -->
                            <button type="button" class="botonEditSeccion" data-bs-toggle="modal"
                                data-bs-target="#modalItemsEducacion" *ngIf="modoEdit">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </div>
                        <h2 class="seccion-titulo">Educación</h2>
                    </div>
                    <!-- modulo educacion -->
                    <div class="moduloEducacion" *ngFor="let estudio of estudiosTodos">
                        <div class=" w-l h-l mb-5  logoseducacion">
                            <img [src]="estudio.logoInstitucion" class="logoseducacion" [alt]="estudio.logoAlt">
                        </div>
                        <div>
                            <h5>{{estudio.anioeInstitucion}}</h5>
                        </div>
                        <p class="seccion-texto">{{estudio.titulo}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- llamo al modal -->
<!-- <app-modal-educacion-add></app-modal-educacion-add> -->
<app-modal-educacion-edit></app-modal-educacion-edit>