<!--Modal skill edit-->
<form class="modal fade" id="modalSkillEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Skill</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- primera parte modal-------------------------------------------------------------- -->
            <div class="modal-body">
                <div class=" form-floating mb-3">
                    <input type="text" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="editar nombre">
                    <label for="floatingInput">Editar skill: "Nombre"</label>
                </div>
                <div class=" form-floating mb-3">
                    <input type="number" min="0" max="100" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">Editar skill %: "(número de 0-100)"</label>
                </div>
                <br class="pt-2">
                <hr class="w-75 m-auto mt-2">
            </div>
            <!-- aceptar---------------------------------------------------------------------------- -->
            <div class="modal-body">
                <button class="w-100 btn btn-lg rounded-0 btn-loginout3 mb-5" type="submit">Aceptar</button>
            </div>
        </div>
    </div>
</form>

