<!--Modal skill edit-->
<form class="modal fade" id="modalSkillEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Skill,,,HMMMM SI ABRO EL MODAL EN OTRA
                    SKILL SIGUE CON LOS
                    DATOS CARGADOS QUE PUSE ANTES, WHAT, SE CAMBIARA EL ID EN EL BOTON? COS NO CREO QUE SEAN 40 MODALES
                    UNO POR SKILL</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- primera parte modal-------------------ESTO ES DE CUANDO NO ERA REACTIVO------------------------------------------- -->
            <!-- <div class="modal-body">
                <div class=" form-floating mb-3">
                    <input type="text" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="editar nombre">
                    <label for="floatingInput">Editar skill: "Nombre"</label>
                </div>
                <div class=" form-floating mb-3">
                    <input type="number" min="0" max="100" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">Editar skill %: "(número de 0-100)"</label>
                </div>
                <br class="pt-2">
                <hr class="w-75 m-auto mt-2">
            </div> -->
            <div class="modal-body  text-center">

                <!-- input rubro -------SACO POR AHORA, SI AGREGO SKILLS POR RUBRO EN LUGAR DE ELEGIR CON EL SELECTOR------------------------------------------- -->
                <!-- <div class="form-floating mb-4">                        
                    <select class="form-select rounded-0 formulariosinput" id="floatingSelect"
                        aria-label="Floating label select example"  formControlName="rubro" class="form-control rounded-0 formulariosinput"
                        id="" placeholder="rubro" [ngClass]="{'is-invalid': rubro?.errors && rubro?.touched, 
                                                                             'is-valid': !rubro?.errors && rubro?.touched}">
                        <option selected></option>
                        <option value="1">Programación web</option>
                        <option value="2">Diseño y Arquitectura</option>
                        <option value="3">Idiomas</option>
                        <option value="4">Habilidades Blandas</option>
                    </select>
                    <label for="floatingSelect">Editar: rubro</label>
                </div>
                <div *ngIf="rubro?.errors  && rubro?.touched">
                    <p *ngIf="rubro?.hasError('required')" class="error2 text-start">
                        * El rubro es requerido
                    </p>
                </div> -->

                <!-- input nombre --------------------------------------------------------------- -->
                <div class=" form-floating mb-4">
                    <input type="text" formControlName="nombre" class="form-control rounded-0 formulariosinput"
                        id="floatingInput" placeholder="nombre" [ngClass]="{'is-invalid': nombre?.errors && nombre?.touched, 
                                                                              'is-valid': !nombre?.errors }">
                    <!-- 'is valid is invalid' son clases con el tick verde o rojo -->
                    <label for="floatingInput">Editar skill: "Nombre"</label>
                </div>
                <!-- 'Gracias al getter que configuramos en el controlador' (nombre, Password, Mail etc inputs)-->
                <div *ngIf="nombre?.errors  && nombre?.touched">
                    <p *ngIf="nombre?.hasError('required')" class="error2 text-start">
                        * El nombre es requerido
                    </p>
                </div>
                <!-- input porcentaje --------------------------------------------------------------- -->
                <div class=" form-floating mb-4">
                    <input type="number" min="0" max="100" formControlName="porcentaje"
                        class="form-control rounded-0 formulariosinput" id="floatingInput" placeholder="porcentaje"
                        [ngClass]="{'is-invalid': porcentaje?.errors && porcentaje?.touched, 
                                      'is-valid': !porcentaje?.errors }">
                    <!-- 'is-valid': !porcentaje?.errors && porcentaje?.touched}"> -->
                    <!-- 'is valid is invalid' son clases con el tick verde o rojo -->
                    <label for="floatingInput">Editar skill %: "(número de 0-100)"</label>
                </div>
                <!-- 'Gracias al getter que configuramos en el controlador' (nombre, Password, etc inputs)-->
                <div *ngIf="porcentaje?.errors  && porcentaje?.touched">
                    <p *ngIf="porcentaje?.hasError('required')" class="error2 text-start">
                        * El porcentaje es requerido
                    </p>
                    <p *ngIf="porcentaje?.errors?.['max']" class="error2 text-start">
                        * Escriba un número de 0-100
                    </p>
                </div>

                <!-- <br class="pt-2">
                <hr class="w-75 m-auto mt-4"> -->
                <!-- <br class="pt-2">
                <hr class="w-75 m-auto mt-2"> -->

                <br class="pt-2 mb-2">
                <hr class="w-75 m-auto mt-3 mb-4">

                <!-- aceptar---------------------------------------------------------------------------- -->
                <button type="button" class="btn btn-ligth fa-solid fa-rotate-right " (click)="limpiar()"></button>
                <button type="submit" class="w-100 mb-5 mt-3 btn btn-lg rounded-0 btn-loginout3">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</form>