.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 300px;
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 1rem;
  --bs-offcanvas-padding-y: 1rem;
  /* no transparente como la navbar */
  --bs-offcanvas-bg: #fff;
  --bs-offcanvas-border-width: 1px;
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navbar a {
  transition: transform .5s;
  color: var(--color-texto-medio-navbar);
  font-weight: 500;
  transition: all 0.1s ease-in;
}

.navbar a:hover {
  color: var(--color-links-navbar) !important;
  font-weight: 500;
  /* text-decoration: underline; */
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
  /* separa los 2 elementos de las nav, logoAP secciones botoneslog */
  padding-top: 1em;
  padding-bottom: 1em;
}

.bg-light {
  /* --bs-bg-opacity: 1; */
  background-color: var(--color-background-navbar) !important;
}

/* opacidad logo AP */
.navbar-brand img {
  opacity: 65%;
  padding-left: 1.5rem;
  padding-left: 2rem;
  height: 1.6em;
}

.navbar-brand img:hover {
  opacity: 90%
}

.navbar .navbar-expand-md .navbar-light {
  padding: 0;
}

.navbar {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(53,53,53)' stroke-width='2' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  /* --bs-navbar-toggler-border-color: rgba(72, 255, 0, 0.1); */
  /*  PONER TRANSPARENTE*/
  --bs-navbar-toggler-border-radius: 0;
  --bs-navbar-toggler-focus-width: 0.001rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  --bs-navbar-padding-x: 0;
}

/* navbar toggler, borde */
.navbar-toggler:focus {
  box-shadow: 0;
}

/* borde when toggler activo */
.navbar-toggler {
  /* border: 3px solid var(--color-background-navbar);  cambio porque hice un poquito transparente la nav, para ocultar el borde del toggler al clikear */
  border: 6px solid #ffffff0f;
  opacity: 50%;
}

.navbar-toggler:hover {
  opacity: 90%;
}

/* separacion de links en navbar*/
.nav-item {
  margin-right: .3rem;
}


/* boton login logout */
.nav-itemLog {
  /* color: var(--color-links-navbar); */
  color:#e2b57d; /*  #d3a060; */
  font-weight: 500;
  transition: all 0.1s ease-in;
  font-size: 1.3em; 
  /* alineamiento respecto a los otros titulos de la nav */
  padding-top: .22em;
}

.nav-itemLog:hover {
  color: var(--color-texto-medio-navbar) !important;
  font-weight: 200;
}
