<!-- NAVBAR OFFCANVAS LIGHT////////////////////////////////////////
        ///////////////////////////////////////////////////////////////-->
        <nav class="navbar bg-light fixed-top navbar-expand-lg">
            <div class="container-fluid">
                
                <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
                    target="_blank" *ngFor="let itemPersona of personaItems">
                    <!-- <img src="./assets/img/logo-argentina-programa.png" alt="logo argentinaprograma"></a> -->
                    <img [src]="itemPersona.logoBrand" alt="logo argentinaprograma"></a>

                <!-- para separarlo en ipad del borde derecho, pe-4 -->
                <button class="navbar-toggler pe-4" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                        </button>
                    </div>
                    <!-- pe-3 es para separar los loginout y toggler del costado derecho, el toggler en ipad me quedo muy pegado y este no hace nada -->
                    <div class="offcanvas-body pe-3">
                        <!-- flex-grow-1, si pones2 o 0 se van las secciones al otro lado de la pagina pe lo separa de los botones login, py lo baja un poquito para centrarlo con los iconos -->
                        <hr>
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 py-1">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="#sobre-mi">Sobre mí</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="#educacion">Educación</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="#skills">Skills</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="#proyectos">Proyectos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="#contacto">Contacto</a>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex p-0">
                            <!-- ////////////////////////////////login///////////////////////////////////////////// -->
                            <app-login></app-login>
                            <!-- ////////////////////////////////logout//////////////////////////////////////////// -->
                            <app-logout></app-logout>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <!-- end NAVBAR OFFCANVAS LIGHT/////////////////////////////////////
            ///////////////////////////////////////////////////////////////-->
