<nav class="navbar bg-light fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
                    target="_blank" *ngFor="let itemPersona of personaItems"> -->
        <a class="navbar-brand" target="_blank" *ngFor="let itemPersona of personaItems"
            [href]="itemPersona.subtitulo1">
            <!-- <img src="./assets/img/logo-argentina-programa.png" alt="logo argentinaprograma"></a> -->
            <img [src]="itemPersona.logoBrand" alt="logo brand"></a>

        <button class="navbar-toggler pe-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                </button>
            </div>
            <div class="offcanvas-body pe-4 ps-4">
                <hr>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 py-1">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#sobre-mi">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#educacion">Educación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#proyectos">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#contacto">Contacto</a>
                    </li>
                </ul>
                <hr>
                <!-- login no modal------------------------------------------------------------------------->
                <div class="d-flex p-0 mt-1 me-2" *ngIf="!modoEdit" title="Log in">
                    <a routerLink="/login">
                        <i class="bi bi-box-arrow-in-right nav-itemLog" type="button"></i>
                    </a>
                </div>
                <div class="d-flex p-0 mt-1 me-2" *ngIf="modoEdit" (click)="cerrarSesion()" title="Log out">
                    <a routerLink="">
                        <i class="bi bi-box-arrow-right nav-itemLog" type="button"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

