/* PROYECTOS //////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////// */


.proyectostitulo {
    /* padding: 4em var(--padding-left) 2em var(--padding-left); */
    padding: 4em var(--padding-left) .5em var(--padding-left);

}

/* //////******  /// */
.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 0;
    display: block;
    transition: all 0.2s ease;

    /* estaba 50 */
    opacity: 70%;

    /* NORMAL BN, VER COMO PONER COLOR WHEN HOVER */
    -webkit-filter: grayscale(10%);
    /* Safari 6.0 - 9.0 */

    /* estaba en 100% gris, ahi que con un poquito de color, xq no me haec lo del color when hover, angular */
    filter: grayscale(50%);
    /* filter: grayscale(100%); */

}


/* https://ethercycle.com/blog/305
    IMAGEN BN A COLOR, no anda en angular, queda escala de grises a escala de grises also when hover */
/* img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    opacity: 100%;
  } */









.proyectos-contenedor {
    padding-top: 0;

    /* bajo porque separe web y arq */
    /* padding-bottom: 8em; */
     /* padding-bottom: 2em; */
}


/* acomodar estooooooooooooooooooooooooooooomess  9-4-23 */
.proyectos-recientes{

    /* saco porque puse oscura proyectos web */
    /* padding-bottom: 9em; */

    padding-bottom: 4em;
    background-color: var(--color-background-oscuro1);
}



/* todo d los iconos al hacer hover sobre imagenes------------------------------------ */
/* ver el efecto de kelly (verde agua?) sobre las fotos,
     tambien arquitecto dinamico,,,color antes y color real when hove */
.overlay {
    transition: all 0.2s ease;
    
    /* icono al hover over imagen, cero cuando no */
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* .overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
  } */

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: .2;

    /* achicarse when hover */
    transform: scale(0.97);
}

.proyecto:hover .overlay {
    opacity: .9;

    /* ESTABA EN 1, VIENDO COMO HACER BN NORMAL Y COLOR WHEN HOVER, PERO CONTENIENDO NOMBRE DE PROYECTO */
}

.overlay .iconos-contenedor {
    display: flex;
    margin-top: -4em;
    /* 9-4-23  o se porque se fue tan para abajo, y los pb-5 mb-5 no funcionan ahora, NO USAR ACA PORQUE ES RESPECTO AL LARGO DEL TWXTO? */
    /* margin-bottom: 1.2em; */
}

/* color icono ovelay */
.overlay i {
    /* color: black; */
    color: #a19484;

    /* tamanio ico href */
    font-size: 2.3em;
    /* padding-bottom: 2em; */
    transition: all 0.1s ease-in;

   
}


.overlay i:hover {
    /* color: black; */
    color: var(--color-links-navbar);

    /* tamanio ico href */
    /* font-size: 2.7em; */
    /* padding-bottom: 2em;  no lo toma*/
    
}



/* ////////////////////////////////////////////////////////////ordenar esto, icozoom se puede poner en           overlay i:hover            */
/*
.icoZoom {
    /* transition: transform .2s ease-out; 
    transition: all 0.17s ease-in;
}

.icoZoom:hover {

    /* habia puesto que se agrandara, pero pongo color mejor 
    transform: scale(1.3);


    /* no anda el color aca  9-4-23
    /* color: red !important; 
}

*/



/*
.proyecto:hover i {
    /* aca andael color y se pone rojo apenas haces hover sobretoda el area proyecto  9-4-23,,esigual que   overlay i 
    color:var(--color-links-navbar);     en overlay anda when hover

    /* este no anda aca 
    /* transform: scale(1.3); 
}*/



/* fin PROYECTOS //////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////// */