.proyectostitulo {
    padding: 4em var(--padding-left) .5em var(--padding-left);
}

.proyectos-seccion img {
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 0;
    display: block;
    transition: all 0.2s ease;
    opacity: 70%;
    -webkit-filter: grayscale(10%);
    filter: grayscale(50%);
    border-left: 1px solid #ffc632;
    /* background-color: var(--color-background-oscuro1); */
}

.proyectos-contenedor {
    padding-bottom: 6em;
    padding-top: .5em !important;
}

.overlay {
    transition: all 0.2s ease;
    /* icono al hover over imagen, cero cuando no */
    opacity: 0;
    position: absolute;
    /* top: 50%; se iba para abajo c parrafos largos*/
    margin-top: -8em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: .2;
    /* achicarse when hover */
    transform: scale(0.97);
}

.proyecto:hover .overlay {
    opacity: .9;
}

.overlay .iconos-contenedor {
    display: flex;
}

/* color icono ovelay */
.overlay i {
    color: #a19484;
    font-size: 2.3em;
    /* padding-bottom: 2em; */
    transition: all 0.1s ease-in;
}

.overlay i:hover {
    color: var(--color-links-navbar);
}

p.seccion-texto {
    font-size: 1.15em;
}




