<!-- proyectos ////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////// -->
<section id="proyectos" class=" container-fluid proyectos-recientes seccion-clara d-flex flex-column">
    <div class="container-fluid proyectostitulo justify-content-start">
        <!-- botones edicion seccion ---------------------------------------->
        <div class="text-end">
            <!-- <button type="button" class="botonEditSeccion"><i class="fa-solid fa-pen"></i></button> -->
            <!-- <button type="button" class="botonEditSeccion"><i class="fa-solid fa-trash"></i></button> -->
            <button type="button" class="botonEditSeccion" data-bs-toggle="modal" data-bs-target="#modalProyectosAdd">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <!-- titulo seccion ------------------------------------------------->
        <h2 class="seccion-titulo">Proyectos</h2>
        <p class="seccion-texto">Algunos proyectos de arquitectura y diseño web en los que he trabajado
            recientemente</p>
    </div>

    <!-- Galeria de Proyectos -->
    <div class="proyectos-contenedor">
        <div class="row">
            <!-- modulo proyectos arq ---------------------------------------------------------->
            <div class="col-12 col-md-6 col-lg-4 mt-4" *ngFor="let cadaProyecto of proyectosTodos">
                <div class="proyecto">
                    <!-- <img src="./assets/img/proyectos/proyecto2.jpg" alt="Proyecto 2"> -->
                    <img [src]="cadaProyecto.imgPageProyecto" [alt]="cadaProyecto.imgPageAlt">
                    <div class="ms-5">

                        <!-- <h6 class="skill-title">Casa Ko, Texas</h6> -->
                        <h6 class="skill-title">{{cadaProyecto.tituloProyecto}}</h6>
                    </div>

                    <div class="overlay">
                        <div class="iconos-contenedor">

                            <!-- asi no da error el alt pero no muestra el alt en la pagina tampoco, so
                                <a target="_blank" class="" [href]="cadaProyecto.imgTargetBlank" [attr.alt]="cadaProyecto.targetBlackAlt" > -->
                            <a target="_blank" class="" [href]="cadaProyecto.hrefTargetBlank">
                                <!-- <i class="bi bi-card-image"></i> -->
                                <i class="bi bi-plus-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- botones edit subseccion -->
                <div class="text-end">
                    <!-- <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-pen"></i></button>
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-trash"></i></button> -->
                    <button type="button" class="botonEditSubseccion" data-bs-toggle="modal"
                        data-bs-target="#modalProyectosEdit">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button type="button" class="botonEditSubseccion" data-bs-toggle="modal"
                        data-bs-target="#modalEliminarProyecto">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>



            <!-- creo que voy a tener que poner aparte el portfolio xq no puedo poner un solo link externo
            con icono img para 5 y 3 links para el portfolio con 3 iconos diferentes -->
            <!-- ok,  dividi en el json proyectosArq y proyectosWeb, pero ver como hacer el modal edicion seccion
            en que orden se cargarian y como elegir arq o web
            SINO CAMBIAR A UN ICONO ''+'' y que te lleve a github o a una imagen externa nomas -->




            <!-- modulo proyectos web --------------------------------------------------------------->
            <!-- <div class="col-12 col-md-6 col-lg-4" *ngFor="let cadaProyectoWeb of proyectosTodosWeb">
                <div class="proyecto">
                    <img [src]="cadaProyectoWeb.imgPageProyecto" [alt]="cadaProyectoWeb.imgPageAlt">
                    <div class="ms-5">
                        <h6 class="skill-title">{{cadaProyectoWeb.tituloProyecto}}</h6>
                    </div>

                    <div class="overlay">
                        <div class="iconos-contenedor">
                            <a [href]="cadaProyectoWeb.link1" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                            <a [href]="cadaProyectoWeb.link2" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-laptop"></i>
                            </a>
                            <a target="_blank" class="" [href]="cadaProyectoWeb.imgTargetBlank">
                                <i class="bi bi-card-image"></i>
                            </a>
                        </div>
                    </div>
                </div>
                botones edit subseccion
                <div class="text-end">
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-pen"></i></button>
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div> -->



            <!-- subi a github proyectosArq y proyectosWeb dividos en el json (quedo nombrado asi en el json y ts, para volver atras mas facil) y en proyectos.ts y html, LUEGO VOLVI ATRAS Y LO DEJE CON EL SIGNO +, HACER EL MODAL CON casilla para EL NUMERO DE ID PARA VER POSICION DEL PROYECTO EN LA PAGINA,,DESPUES VER SI PUEDO ARMARLO MEJOR 
            los deje todos en el mismo array del json con href (+) img para los arq y href github para los web, maybe poner la urlde pagina final-->

        </div>
    </div>
</section>
<!-- fin proyectos ////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////// -->


<!-- llamo a modal -->
<app-modal-proyectos-add></app-modal-proyectos-add>
<app-modal-proyectos-edit></app-modal-proyectos-edit>


<!-- modal eliminar, no se si ponerlo asi, aparte, uno para cada uno de los items(??) o donde -->
<form class="modal fade" id="modalEliminarProyecto" tabindex="-1" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">Eliminar proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form class="">
                    <button class="w-100 mb-2 mt-5 btn btn-lg rounded-0 btn-loginout3 " type="submit">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
</form>