<!-- proyectos ////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////// -->
<section id="proyectos" class=" container-fluid proyectos-recientes seccion-clara d-flex flex-column">
    <!-- <h2 class="seccion-titulo texto-negro">Proyectos</h2> -->
    <!-- DEJAR UN SOLO CONTAINER FLUID? -->
    <div class="container-fluid proyectostitulo justify-content-start">

        <!-- botones edicion seccion ---------------------------------------->
        <div class="text-end">
            <button type="button" class="botonEditSeccion"><i class="fa-solid fa-pen"></i></button>
            <button type="button" class="botonEditSeccion"><i class="fa-solid fa-plus"></i></button>
            <button type="button" class="botonEditSeccion"><i class="fa-solid fa-trash"></i></button>
        </div>

        <!-- titulo seccion ---------------------------------------->
        <h2 class="seccion-titulo">Proyectos</h2>
        <!-- <h3 class="seccion-descripcion">Estos son algunos proyectos que he creado recientemente...</h3> -->
        <p class="seccion-texto">Algunos proyectos de arquitectura y diseño web en los que he trabajado
            recientemente</p>
    </div>
    
    <!-- Galeria de Proyectos -->
    <!-- <div class="container text-center proyectos-contenedor"> -->
    <div class="proyectos-contenedor">
        <div class="row">

            <!-- Proyecto 2 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/img/proyectos/proyecto2.jpg" alt="Proyecto 2">


                    <div class="ms-5">

                        <h6 class="skill-title">Casa Ko, Texas</h6>
                    </div>



                    <div class="overlay">
                        <div class="iconos-contenedor">
                            <a target="_blank" class="" href="./assets/img/proyectos/proyecto2.jpg">
                                <i class="bi bi-card-image"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- botones edit subseccion ------------------------------------ -->
                <div class="text-end">
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-pen"></i></button>
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
            <!-- Proyecto 5 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/img/proyectos/proyecto5.jpg" alt="Proyecto 5">





                    <div class="ms-5 align-items-center">

                        <h6 class="skill-title">Casa U, Reforma fachada, Texas</h6>
                    </div>



                    <div class="overlay">
                        <div class="iconos-contenedor">
                            <a target="_blank" class="" href="./assets/img/proyectos/proyecto5.jpg">
                                <i class="bi bi-card-image"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- botones edit subseccion ------------------------------------ -->
                <div class="text-end">
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-pen"></i></button>
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
            <!-- Proyecto 3 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/img/proyectos/proyecto3.jpg" alt="Proyecto 3">

                    <div class="ms-5">

                        <h6 class="skill-title">Casa T, desde cero. Misiones</h6>
                    </div>


                    <!-- <div class="overlay">
                            <p>Casa T, desde cero</p> -->
                    <div class="overlay">
                        <div class="iconos-contenedor">
                            <a target="_blank" class="" href="./assets/img/proyectos/proyecto3.jpg">
                                <i class="bi bi-card-image"></i>
                            </a>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- botones edit subseccion ------------------------------------ -->
                <div class="text-end">
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-pen"></i></button>
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
            <!-- Proyecto 4 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/img/proyectos/proyecto4.jpg" alt="Proyecto 4">


                    <div class="ms-5 align-items-center">

                        <h6 class="skill-title">Departamento flia. ampliada, Misiones</h6>
                    </div>


                    <div class="overlay">
                        <div class="iconos-contenedor">
                            <a target="_blank" class="" href="./assets/img/proyectos/proyecto4.jpg">
                                <i class="bi bi-card-image"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- botones edit subseccion ------------------------------------ -->
                <div class="text-end">
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-pen"></i></button>
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>

            <!-- Proyecto 6 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/img/proyectos/proyecto6.jpg" alt="Proyecto 6">






                    <div class="ms-5">

                        <h6 class="skill-title">Casa T, reformas s/ existente</h6>
                    </div>



                    <div class="overlay">
                        <div class="iconos-contenedor">
                            <a target="_blank" class="" href="./assets/img/proyectos/proyecto6.jpg">
                                <i class="bi bi-card-image"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- botones edit subseccion ------------------------------------ -->
                <div class="text-end">
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-pen"></i></button>
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>

            <!-- Proyecto 1 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/img/proyectos/proyecto1+.jpg" alt="Proyecto 1">



                    <div class="ms-5">

                        <h6 class="skill-title">Mi Portfolio Web</h6>
                    </div>



                    <!-- <a target="_blank" class=" nav-item navbar-link redes2" href="https://github.com/ol-s">
                            <i class="bi bi-github"></i>
                        </a> -->







                    <div class="overlay">

                        <!-- me pone la manito para clikear recien en el texto, pero quiero sacar el texto, si saco el texto no me aparece mas la manito para clikear////
                            asi como esta clikeas y te abre la imagen en otra pestania, OK, es lo que queria, agarrar lo de la manito -->
                        <!-- <p>Mi Portfolio Web</p> -->
                        <div class="iconos-contenedor">
                            <a href="https://github.com/ol-s/yp-Portfolio-FrontEnd" target="_blank"
                                rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                            <a href="https://www.miportfolio.com/" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-laptop"></i>
                            </a>

                            <a target="_blank" class="" href="./assets/img/proyectos/proyecto1.jpg">
                                <i class="bi bi-card-image"></i>
                            </a>

                        </div>
                    </div>


                </div>
                <!-- botones edit subseccion ------------------------------------ -->
                <div class="text-end">
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-pen"></i></button>
                    <button type="button" class="botonEditSubseccion"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
            <button type="button" class="btn btn-info">
                Ver más proyectos
                <i class="bi bi-arrow-right-circle-fill"></i>
            </button>
        </a> -->
</section>
<!-- fin proyectos ///////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////// -->