.form-select{
    font-size: .9rem;
}

/* 
.form-select:focus {
 
  border-color:red !important;
  text-emphasis-color: #83f30b !important;
} */


/* cambia letra y fondo pero no el celeste de seleccion, ugh */
/* select:hover {
    color: grey !important;
    background: #bfba52 !important;
    text-emphasis-color: #83f30b !important;
}
select:active {
    color: grey !important;
    background: #bfba52 !important;
    text-emphasis-color: #83f30b !important;
}
select:focus {
    color: grey !important;
    background: #bfba52 !important;
    text-emphasis-color: #83f30b !important;
}


.form-select:focus {
    border-color: #ff0505;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    background: #bfba52 !important;
} */


/* 
select[data-toggle="dropdown"].btn-default,
select[data-toggle="dropdown"]:hover {
background-color: white !important;
color: #2c3e50 !important;
border: 2px solid #dce4ec;
}

select::selection :hover{
    color: grey !important;
    background: #bfba52 !important;
    text-emphasis-color: #83f30b !important;
} */




/* .selectpicker{
    color: grey !important;
    background: #bfba52 !important;
    text-emphasis-color: #83f30b !important;
} */
/*  nada funciona, y este me desaparecio la casilla directamente
https://developer.snapappointments.com/bootstrap-select/

no voy a meter js
https://stackoverflow.com/questions/38851856/how-to-change-border-color-of-bootstrap-select
*/




/* select:hover {
    color: grey !important;
    background: #bfba52 !important;
    text-emphasis-color: #83f30b !important;
} */




/* este cambiapero no el celestito */
/* select:focus {
    color: grey !important;
    background: #ffffff !important;
    text-emphasis-color:red !important ;
    accent-color: red;
    text-decoration-color: blue !important;
}
option:hover {
    color: grey !important;
    background: #ffffff !important;
    text-emphasis-color:red !important ;
    accent-color: red;
    text-decoration-color: blue !important;
}



este es el unico que hace algo pero no cambie el subrayado de cada navegador, 
edge y chorme es azul, firefox es gris y con bordes redondeados
select:hover {
    color: grey !important;
    background: #bfba52 !important;
    text-emphasis-color: #83f30b !important;
} */




/* https://mdbootstrap.com/support/standard/color-options-for-select/         nop, no andan*/

/* For text: */

/* .select-input {
  color: black;
} */
/* For background of not disabled input area: */

/* .select-input.form-control[readonly]:not([disabled]) {
  background: white;
} */
/* For select arrow: */

/* .select-arrow {
  color: red;
} */
/* https://mdbootstrap.com/support/standard/color-options-for-select/         nop, no andan
le saque form-select y agarra algo , aca
https://mdbootstrap.com/snippets/standard/m-duszak/3335982#html-tab-view
 no el subrayado tho, so */


 /* option::selection{
    color: aqua !important;
    background: red !important;
 }

 select:hover::selection{
    color: aqua !important;
    background: red !important;
 } */