
.redes1 i{
    /* en html clases bootstrap
    display: flex;
    flex-direction: row !important;*/
    color: var(--color-links-navbar);
    font-size: 1.2em;
    transition: all 0.2s ease-in;
  }
  .redes1 a:hover i {
    color: var(--color-texto-medio);
    cursor: pointer;
    transform: scale(1.9);
  }
  
/*
  .redes1 a{
  
    /* transition: all 0.2s ease-in; */
  
 /* .redes1 a:hover{

    /* SACAR ESTO MEPAAAAAAAAAA */
    /* transform: scale(1.9); */
    /* transform: translateY(0.1em) ; 
  
*/
