<!-- modal edit header, edit/agregar redes(modal dentro de modal) -->
<form class="modal fade" id="modalEditHeader" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar encabezado // FALTA EDITAR TODOS LOS BANNERS
                    A LA VEZ</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- primera parte modal---------ACA HAY QUE TRAER CON NGFOR PARECE, HAGO EDUCACION EDIT Y VUELVO------------------------------------------- -->
            <div class="modal-body">
                <div class=" form-floating mb-3">
                    <input type="text" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">Nombre</label>
                </div>
                <div class=" form-floating mb-3">
                    <input type="text" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">Apellido</label>
                </div>
                <div class="form-floating mb-3">
                    <!-- cambiar los id aca, ver bien como y que hacen -->
                    <input type="text" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">Ocupacion</label>
                </div>
                <!-- <br class="my-4 p-3"> -->
                <!-- <br class="py-5 my-2"> -->
            </div>

            <!-- EDITAR REDES-------------------------------------------------------------- -->
            <div class="modal-body">
                <hr class="w-75 m-auto mb-4">
                <div class="d-flex justify-content-center">
                    <h5 class="mt-2 pt-0">Agregar / Editar redes</h5>
                    <button data-bs-target="#modalRedAdd" data-bs-toggle="modal" class="ms-3 pb-1 btn btnEditModal">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <hr class="w-75 m-auto my-3">
                <div class="container text-center justify-content-between">
                    <div class="row g-4">
                        <div class="col">
                            <!-- <h5>Editar o agregar redes</h5> -->

                            <!-- importo redes en el modal para editar el  red-component dentro del modal -->
                            <div class="row d-flex justify-content-center align-items-center"
                                *ngFor="let cadaRed of redesTodas">
                                <div class="col-1"></div>
                                <!-- traigo al modal las redes cargadas para que se vea el icono +edit+delete botones -->
                                <div class="col-4 mt-2">
                                    <a class=" pt-3 pb-3 " [href]="cadaRed.url" target="_blank">
                                        <i [ngClass]="cadaRed.iconred"></i>
                                    </a>
                                </div>
                                <div class="col-3 mt-3">
                                    <button data-bs-target="#modalEditRed" data-bs-toggle="modal"
                                        class="btn btn-extra-mini mb-0 btnEditModal">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                </div>
                                <div class="col-1 mt-3">
                                    <!-- trigger delete con alert del browser-->
                                    <button type="submit" class="btn btn-extra-mini mb-0 btnEditModal"
                                        (click)="deleteRed(cadaRed.id)">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                                <div class="col-3"></div>
                            </div>
                            <hr class="w-75 m-auto my-3 mt-4">

                            <!-- saco esto, dejo el add arriba con el titulo -->
                            <!-- <div class="d-flex justify-content-center"><button data-bs-target="#modalRedAdd"
                                        data-bs-toggle="modal" class="btn btn-black-extra-mini"><i
                                            class="fa-solid fa-plus"></i></button>
                                </div>
                                <hr class="w-75 m-auto my-3"> -->
                        </div>
                    </div>
                </div>
            </div>




            <!-- tercera parte modal, banner? ----------------HACER MODAL EDIT BANNERS------
                -wow, en blanco estoy, ver modal educaicon, como se guarda l aurl??--------------------------------------- -->
            <!-- <div class="modal-body">
                <div class="container text-center justify-content-between">
                    <div class="row g-4">
                        <div class="col">
                            <h5>Editar banner header</h5>
                            <div class=" form-floating mb-3">
                                <input type="" class="form-control rounded-0 formulariosinput" id="floatingInput"
                                    placeholder="url">
                                <label for="floatingInput">Nueva URL del banner</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="py-5 mb-2">
                <hr class="w-75 m-auto mt-3">
            </div> -->

            <!-- ,,,lo saque nomas, error en ''form''  -->
            <!-- <button type="button" class="btn btn-ligth fa-solid fa-rotate-right mt-3" (click)="limpiar()"></button> -->
            <div class="modal-body">
                <button class="w-100 btn btn-lg rounded-0 btn-loginout3 mb-5" type="submit">Aceptar</button>
            </div>
        </div>
    </div>
</form>