<!-- modal con todos los items y sus id (apagado)----------------------------------------------------------------------------->
<div class="modal fade" id="modalItemsSkillidiom" tabindex="-1" aria-hidden="true" aria-labelledby="modalItemsSkillidiom" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalItemsSkillidiom">Idiomas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>          
            <div class="modal-body">
                <!-- agregar item -->
                <div class="text-end">
                    <button data-bs-target="#modalEditOrAddSkillidiom" data-bs-toggle="modal" class="btn btnEditModal mt-2  mb-2">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <hr>
                <div class="container mb-1">
                    <!-- listado de items cargados-->
                    <div class="mt-4" *ngFor="let skillidiom of skillidioma">
                        <div class="">
                            <!-- <p><b>ID: </b> {{skillW.id}}</p> -->
                            <p><b>Idioma: </b>{{skillidiom.nombre}}</p>
                            <p><b>Porcentaje: </b>{{skillidiom.porcentaje}}</p>
                        </div>
                        <div class="text-end">
                            <button class="btn btnEditModal" (click)="skillidiom.id? findSi(skillidiom.id): null" data-bs-toggle="modal"
                                data-bs-target="#modalEditOrAddSkillidiom">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn btnEditModal" (click)="skillidiom.id? deleteSi(skillidiom.id): null">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Edit Or Add Skill Idiomas------------------------------------------------------------------------------------------->
<div class="modal fade" id="modalEditOrAddSkillidiom" tabindex="-1" aria-hidden="true" aria-labelledby="modalEditOrAddSkillidiom">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="modalEditOrAddSkillidiom">Agregar/Editar Idioma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
            </div>
            <div class="modal-body text-center justify-content-between">
                <form [formGroup]="siForm"> <!-- (ngSubmit)="onSubmit($event)" id="swForm"    tiene el save abajo-->
                    <!-- input nombre ------------------------------------------------------------------------- -->
                    <div>
                        <div class=" form-floating mb-4 mt-2">
                            <input type="text" formControlName="nombre" 
                                class="form-control rounded-0 formulariosinput" id="floatingInput43" placeholder="nombre"
                                [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched, 
                                              'is-valid': !Nombre?.errors }">
                            <label for="floatingInput43">Nombre Skill</label>
                        </div>
                        <div *ngIf="Nombre?.errors  && Nombre?.touched">
                            <p *ngIf="Nombre?.hasError('required')" class="error2 text-start">
                                * Ingrese el nombre de la habilidad
                            </p>
                        </div>
                    </div>
                    <!-- input porcentaje --------------------------------------------------------------------- -->
                    <div>
                        <div class=" form-floating mb-4">
                            <input type="number" min="0" max="100" formControlName="porcentaje" 
                                class="form-control rounded-0 formulariosinput" id="floatingInput44" placeholder="porcentaje"
                                [ngClass]="{'is-invalid': Porcentaje?.errors && Porcentaje?.touched, 
                                              'is-valid': !Porcentaje?.errors}">
                            <label for="floatingInput44">% Skill (número de 0-100)</label>
                        </div>
                        <div *ngIf="Porcentaje?.errors  && Porcentaje?.touched">
                            <p *ngIf="Porcentaje?.hasError('required')" class="error2 text-start">
                                * Ingrese un número de 0-100
                            </p>
                            <p *ngIf="Porcentaje?.errors?.['max']" class="error2 text-start">
                                * Ingrese un número de 0-100
                            </p>
                        </div>
                    </div>
                    <!-- guardar-------------------------------------------------------------------------------- -->
                    <br class="pt-0 mb-0">
                    <hr class="w-75 m-auto mt-0 mb-4">
                    <button type="btn" class="btn btn-ligth fa-solid fa-rotate-right" (click)="limpiar()"></button>
                    <button type="btn" class="w-100 mb-5 mt-3 btn btn-lg rounded-0 btn-loginout3" (click)="saveSi()"
                        data-bs-dismiss="modal"[disabled]="siForm.invalid"> <!-- no enviar if invalid -->
                        Guardar
                    </button>
                    <!--    <i class="bi bi-check2-circle"></i> -->
                </form>
            </div>
        </div>
    </div>
</div>
