<!-- <h1>angular no me anda, 
  no me aparece lo de otros componente solo este</h1> -->


<app-navbar></app-navbar>
<app-headername></app-headername>
<app-halfbanner></app-halfbanner>
<app-sobremi></app-sobremi>
<app-educacion></app-educacion>
<app-skills></app-skills>
<app-proyectos></app-proyectos>
<app-bannerfooter></app-bannerfooter>
<app-footer></app-footer>


<!-- next crear componentes para modales, y no se quemas,,,todos los modales son diferentes tho -->


<!-- este creo que no hay que borrar, en clases asincronicas no lo dejaban, nose -->
<router-outlet></router-outlet>