<section id="skills" class="container-fluid seccion-oscura">
    <div class="container-fluid skillscontainer">
        <div class="row justify-content-start">
            <!-- titulo seccion -->
            <h2 class="seccion-titulo mt-5">
                Skills
            </h2>
            <div class="">
                <div class="row">
                    <!-- columna 1 Programación web -------------------------------------------------------------->
                    <div class="col-md-6 p-4 mt-5">
                        <!-- trigger modal items -->
                        <div class="text-end mb-3">
                            <button type="button" class="botonEditSeccionOscura" data-bs-toggle="modal"
                                data-bs-target="#modalItemsSkillWeb" *ngIf="modoEdit">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </div>
                        <!-- titulo skills-->
                        <h4>Programación web</h4>
                        <br>
                        <div class="moduloSkill mb-4" *ngFor="let cadaSkillProgram of skillsTodasProgram">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">{{cadaSkillProgram.nombre}}</h6>
                                <h6 class="text-end skills-porcentajes">{{cadaSkillProgram.porcentaje}}%</h6>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                        aria-valuemax="100" [style.width.%]="cadaSkillProgram.porcentaje"></div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <!-- columna 2  Diseño y Arquitectura-------------------------------------------------------------->
                    <div class="col-md-6 p-4 mt-5">
                        <!-- trigger modal items -->
                        <div class="text-end mb-3">
                            <button type="button" class="botonEditSeccionOscura" data-bs-toggle="modal"
                                data-bs-target="#modalItemsSkillArq" *ngIf="modoEdit">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </div>
                        <h4>Diseño y Arquitectura</h4><br>
                        <div class="moduloSkill mb-4" *ngFor="let cadaSkillArq of skillsTodasArq">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">{{cadaSkillArq.nombre}}</h6>
                                <h6 class="text-end skills-porcentajes">{{cadaSkillArq.porcentaje}}%</h6>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                        aria-valuemax="100" [style.width.%]="cadaSkillArq.porcentaje">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>

                    <!-- columna 3  Idiomas----------------------------------------------------------------------->
                    <div class="col-md-6 p-4 mt-5">
                        <!-- trigger modal items-->
                        <div class="text-end mb-3">
                            <button type="button" class="botonEditSeccionOscura" data-bs-toggle="modal"
                                data-bs-target="#modalItemsSkillidiom" *ngIf="modoEdit">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </div>
                        <h4>Idiomas</h4><br>
                        <div class="moduloSkill mb-4" *ngFor="let cadaSkillIdiom of skillsTodasIdiom">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">{{cadaSkillIdiom.nombre}}</h6>
                                <h6 class="text-end skills-porcentajes">{{cadaSkillIdiom.porcentaje}}%</h6>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                        aria-valuemax="100" [style.width.%]="cadaSkillIdiom.porcentaje"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- columna 4  Habilidades Blandas-------------------------------------------------------------->
                    <div class="col-md-6 p-4 mt-5">
                        <!-- trigger modal items -->
                        <div class="text-end mb-3">
                            <button type="button" class="botonEditSeccionOscura" data-bs-toggle="modal"
                                data-bs-target="#modalItemsSkillSoft" *ngIf="modoEdit">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </div>
                        <h4>Habilidades Blandas</h4><br>
                        <div class="moduloSkill mb-4" *ngFor="let cadaSkillBland of skillsTodasBlandas">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">{{cadaSkillBland.nombre}}</h6>
                                <h6 class="text-end skills-porcentajes">{{cadaSkillBland.porcentaje}}%</h6>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                        aria-valuemax="100" [style.width.%]="cadaSkillBland.porcentaje"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-modal-skill-arq-edit></app-modal-skill-arq-edit>

<app-modal-skill-idioma-edit></app-modal-skill-idioma-edit>

<app-modal-skill-soft-edit></app-modal-skill-soft-edit>

<app-modal-skill-web-edit></app-modal-skill-web-edit>