<!-- skills OK/////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////-->

<section id="skills" class="container-fluid seccion-oscura">
    <!-- class="experiencia seccion-clara" -->
    <div class="container-fluid skillscontainer">
        <div class="row justify-content-start">
            <!-- botones edicion seccion ---------------------------------------->
            <div class="text-end">
                <button type="button" class="botonEditSeccionOscura"><i class="fa-solid fa-pen"></i></button>
                <button type="button" class="botonEditSeccionOscura"><i class="fa-solid fa-plus"></i></button>
                <button type="button" class="botonEditSeccionOscura"><i class="fa-solid fa-trash"></i></button>
            </div>
            <!-- titulo seccion ---------------------------------------->
            <h2 class="seccion-titulo ">
                Skills</h2>
            <!-- <div class="bs-docs-section"> -->
            <div class="">
                <div class="row">

                    <!-- columna 1 Programación web -------------------------------------------------------------->
                    <div class="col-md-6 p-4 mt-5">

                        <h4>Programación web</h4><br>

                        <!-- modulo skill -->
                        <div class="moduloSkill" *ngFor="let cadaSkillProgram of skillsTodasProgram">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">{{cadaSkillProgram.nombre}}</h6>
                                <h6 class="text-end skills-porcentajes">{{cadaSkillProgram.porcentaje}}%</h6>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                        aria-valuemax="100" [style.width.%]="cadaSkillProgram.porcentaje"></div>
                                </div>
                                <!-- botones edit subseccion -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- columna 2  -------------------------------------------------------------->
                    <div class="col-md-6 p-4 mt-5">

                        <!-- Diseño y Arquitectura ---------------------------->
                        <h4>Diseño y Arquitectura</h4><br>
                        <!-- modulo skill -->
                        <div class="moduloSkill" *ngFor="let cadaSkillArq of skillsTodasArq">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">{{cadaSkillArq.nombre}}</h6>
                                <h6 class="text-end skills-porcentajes">{{cadaSkillArq.porcentaje}}%</h6>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                        aria-valuemax="100" [style.width.%]="cadaSkillArq.porcentaje"></div>
                                </div>
                                <!-- botones edit subseccion -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>



                    </div>

                    <br><br>

                    <!-- columna 2  -------------------------------------------------------------->
                    <div class="col-md-6 p-4 mt-5">

                        <!-- Diseño y Arquitectura ---------------------------->
                        <h4>Idiomas</h4><br>
                        <!-- modulo skill -->
                        <div class="moduloSkill" *ngFor="let cadaSkillIdiom of skillsTodasIdiom">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">{{cadaSkillIdiom.nombre}}</h6>
                                <h6 class="text-end skills-porcentajes">{{cadaSkillIdiom.porcentaje}}%</h6>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                        aria-valuemax="100" [style.width.%]="cadaSkillIdiom.porcentaje"></div>
                                </div>
                                <!-- botones edit subseccion -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>



                    </div>
                    <!-- columna 2  -------------------------------------------------------------->
                    <div class="col-md-6 p-4 mt-5">

                        <!-- Diseño y Arquitectura ---------------------------->
                        <h4>Habilidades Blandas</h4><br>
                        <!-- modulo skill -->
                        <div class="moduloSkill" *ngFor="let cadaSkillBland of skillsTodasBlandas">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">{{cadaSkillBland.nombre}}</h6>
                                <h6 class="text-end skills-porcentajes">{{cadaSkillBland.porcentaje}}%</h6>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                        aria-valuemax="100" [style.width.%]="cadaSkillBland.porcentaje"></div>
                                </div>
                                <!-- botones edit subseccion -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>



                    </div>















                   



                </div>
            </div>
        </div>
    </div>



</section>
<!-- fin skills ////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////// -->