.progress {
  --bs-progress-bar-bg: var(--color-links-navbar);
  --bs-progress-border-radius: 0 !important; 
  display: flex;
  height: .3em;
  overflow: hidden;
  background-color: var(--color-texto-medio-oscuro);
}

.moduloSkill {
  padding: 1em 0 1em 0;
}

.skill-text {
  color: var(--color-texto-medio);
}

.skills-porcentajes {
  display: var(--skills-porcentajes-display);
  font-size: 1rem;
  color: var(--color-texto-medio-oscuro);
}

.skill-title {
  text-transform: uppercase;
}

.skillscontainer {
  padding: 4em 3.5em 6em 3.5em;
}