<!-- skills OK/////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////-->

<section id="skills" class="container-fluid seccion-oscura">
    <!-- class="experiencia seccion-clara" -->
    <div class="container-fluid skillscontainer">
        <div class="row justify-content-start">
            <!-- botones edicion seccion ---------------------------------------->
            <div class="text-end">
                <button type="button" class="botonEditSeccionOscura"><i class="fa-solid fa-pen"></i></button>
                <button type="button" class="botonEditSeccionOscura"><i class="fa-solid fa-plus"></i></button>
                <button type="button" class="botonEditSeccionOscura"><i class="fa-solid fa-trash"></i></button>
            </div>
            <!-- titulo seccion ---------------------------------------->
            <h2 class="seccion-titulo ">
                Skills</h2>
            <!-- <div class="bs-docs-section"> -->
            <div class="">
                <div class="row">

                    <!-- columna 1 -------------------------------------------------------------->
                    <!-- <div class="col-md-6 p-4 mt-5"> -->
                    <!-- saco margen, cada vez que toco algo se desacomoda todo -->
                    <div class="col-md-6 p-4 ">

                        <h4>Programación web</h4><br>


                        <!-- skill 1 -->
                        <div class="moduloSkill">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">html5</h6>
                                <h6 class="text-end skills-porcentajes">90%</h6>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>


                                <!-- oficial bootstrap, me faltan un par de aria 
                                        https://getbootstrap.com/docs/5.2/components/progress/
                                    <div class="progress" >
                                        <div class="progress-bar" role="progressbar" aria-label="Example 1px high"
                                            style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div> -->

                                <!-- 
                                    <button class="source-button btn btn-primary btn-xs" type="button"
                                        tabindex="0"></button> -->

                                <!-- botones edit subseccion ------------------------------------ -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>


                        <!-- skill 2 -->
                        <div class="moduloSkill">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">css3 </h6>
                                <span class="text-end skills-porcentajes">80%</span>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- botones edit subseccion ------------------------------------ -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>


                        <!-- skill 3 -->
                        <div class="moduloSkill">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">bootstrap </h6>
                                <span class="text-end skills-porcentajes">80%</span>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- botones edit subseccion ------------------------------------ -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- skill 3 -->
                        <div class="moduloSkill">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">javascript </h6>
                                <span class="text-end skills-porcentajes">40%</span>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- botones edit subseccion ------------------------------------ -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- skill 3 -->
                        <div class="moduloSkill">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">typescript </h6>
                                <span class="text-end skills-porcentajes">40%</span>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- botones edit subseccion ------------------------------------ -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- skill 3 -->
                        <div class="moduloSkill">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">angular </h6>
                                <span class="text-end skills-porcentajes">60%</span>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- botones edit subseccion ------------------------------------ -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- skill 3 -->
                        <div class="moduloSkill">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">mysql </h6>
                                <span class="text-end skills-porcentajes">70%</span>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- botones edit subseccion ------------------------------------ -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>


                        <!-- skill 3 -->
                        <div class="moduloSkill">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">java </h6>
                                <span class="text-end skills-porcentajes">25%</span>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- botones edit subseccion ------------------------------------ -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- skill 3 -->
                        <div class="moduloSkill">
                            <div class="d-flex justify-content-between skill-text">
                                <h6 class="skill-title">ruby </h6>
                                <span class="text-end skills-porcentajes">40%</span>
                            </div>
                            <div class="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- botones edit subseccion ------------------------------------ -->
                                <div class="text-end">
                                    <br>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-pen"></i></button>
                                    <button type="button" class="botonEditSubseccionOscura"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- columna 2 -------------------------------------------------------------->
                    <div class="col-md-6 p-4">

                        <!-- //////////////////////arquitectura y disenio -->
                        <div>
                            <h4>Diseño y Arquitectura</h4><br>


                            <!-- skill 2 -->
                            <div class="moduloSkill">
                                <div class="d-flex justify-content-between skill-text">
                                    <h6 class="skill-title">figma </h6>
                                    <span class="text-end skills-porcentajes">60%</span>
                                </div>
                                <div class="">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 60%;"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!-- botones edit subseccion ------------------------------------ -->
                                    <div class="text-end">
                                        <br>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>


                            <!-- skill 3 -->
                            <div class="moduloSkill">
                                <div class="d-flex justify-content-between skill-text">
                                    <h6 class="skill-title">coreldraw </h6>
                                    <span class="text-end skills-porcentajes">90%</span>
                                </div>
                                <div class="">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 90%;"
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!-- botones edit subseccion ------------------------------------ -->
                                    <div class="text-end">
                                        <br>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>

                            <!-- skill 3 -->
                            <div class="moduloSkill">
                                <div class="d-flex justify-content-between skill-text">
                                    <h6 class="skill-title">photoshop </h6>
                                    <span class="text-end skills-porcentajes">80%</span>
                                </div>
                                <div class="">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 80%;"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!-- botones edit subseccion ------------------------------------ -->
                                    <div class="text-end">
                                        <br>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>

                            <!-- skill 3 -->
                            <div class="moduloSkill">
                                <div class="d-flex justify-content-between skill-text">
                                    <h6 class="skill-title">autocad</h6>
                                    <span class="text-end skills-porcentajes">95%</span>
                                </div>
                                <div class="">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 95%;"
                                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!-- botones edit subseccion ------------------------------------ -->
                                    <div class="text-end">
                                        <br>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>

                            <!-- skill 3 -->
                            <div class="moduloSkill">
                                <div class="d-flex justify-content-between skill-text">
                                    <h6 class="skill-title">sketchup </h6>
                                    <span class="text-end skills-porcentajes">95%</span>
                                </div>
                                <div class="">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 95%;"
                                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!-- botones edit subseccion ------------------------------------ -->
                                    <div class="text-end">
                                        <br>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>

                            <!-- skill 3 -->
                            <div class="moduloSkill">
                                <div class="d-flex justify-content-between skill-text">
                                    <h6 class="skill-title">vray </h6>
                                    <span class="text-end skills-porcentajes">70%</span>
                                </div>
                                <div class="">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 70%;"
                                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!-- botones edit subseccion ------------------------------------ -->
                                    <div class="text-end">
                                        <br>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>


                            <!-- skill 3 -->
                            <div class="moduloSkill">
                                <div class="d-flex justify-content-between skill-text">
                                    <h6 class="skill-title">revit </h6>
                                    <span class="text-end skills-porcentajes">30%</span>
                                </div>
                                <div class="">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;"
                                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!-- botones edit subseccion ------------------------------------ -->
                                    <div class="text-end">
                                        <br>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br><br>


                        <!-- //////////////////////idiomas -->
                        <div>
                            <h4>Idiomas</h4>


                            <!-- skill 3 -->
                            <div class="moduloSkill">
                                <div class="d-flex justify-content-between skill-text">
                                    <h6 class="skill-title">inglés</h6>
                                    <span class="text-end skills-porcentajes">80%</span>
                                </div>
                                <div class="">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 80%;"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!-- botones edit subseccion ------------------------------------ -->
                                    <div class="text-end">
                                        <br>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>

                            <!-- skill 3 -->
                            <div class="moduloSkill">
                                <div class="d-flex justify-content-between skill-text">
                                    <h6 class="skill-title">portugués </h6>
                                    <span class="text-end skills-porcentajes">60%</span>
                                </div>
                                <div class="">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 60%;"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!-- botones edit subseccion ------------------------------------ -->
                                    <div class="text-end">
                                        <br>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="moduloSkill">
                                <div class="d-flex justify-content-between skill-text">
                                    <h6 class="skill-title">español</h6>
                                    <span class="text-end skills-porcentajes">100%</span>
                                </div>
                                <div class="">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!-- botones edit subseccion ------------------------------------ -->
                                    <div class="text-end">
                                        <br>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <button type="button" class="botonEditSubseccionOscura"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fin skills ////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////// -->