<!--Modal proyectos ARQ add-->
<form class="modal fade" id="modalProyectosAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    [formGroup]="form" (ngSubmit)="onEnviar($event)" name="proyectosAddForm">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar proyectos Arq</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- primera parte modal-------------------------------------------------------------- -->

            <!-- <div class="modal-body container text-center justify-content-between">
                <h5>Editar subtítulo</h5>
                <div class=" form-floating mb-2">
                    <textarea class="form-control rounded-0 formulariosinput" placeholder="Leave a comment here"
                        id="floatingTextarea2" style="height: 75px"></textarea>
                    <label for="floatingTextarea2">Descripción</label>
                </div>
                <br class="py-5 mb-2">
                <hr class="w-75 m-auto mt-3">
            </div> -->

            <!-- primera parte modal-------------------------------------------------------------- -->
            <!-- <div class="modal-body container text-center justify-content-between">
                <h5>Editar subtítulo</h5>
                <div class=" form-floating mb-2">
                    <textarea type="text" formControlName="subtituloproy" class="form-control rounded-0 formulariosinput"
                        placeholder="subtituloproy" id="floatingTextarea2" style="height: 75px" [ngClass]="{'is-invalid': subtituloproy?.errors && subtituloproy?.touched, 
                                  'is-valid': !subtituloproy?.errors && subtituloproy?.touched}"></textarea>
                    <label for="floatingTextarea2">Subtítulo sección</label>
                </div>
                <div *ngIf="subtituloproy?.errors  && subtituloproy?.touched">
                    <p *ngIf="subtituloproy?.hasError('required')" class="error2 text-start mt-3">
                        * Campo requerido
                    </p>
                </div>
            </div> -->


            <!-- segunda parte modal-------------------------------------------------------------- -->
            <div class="modal-body container text-center justify-content-between">
                <!-- <h5>Agregar proyecto</h5> -->
                <!-- <div class=" form-floating mb-3">
                    <input type="url" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">URL imagen en pagina</label>
                </div>
                <div class=" form-floating mb-3">
                    <input type="text" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">Nombre (alt) de img en pagina</label>
                </div>
                <div class=" form-floating mb-3">
                    <input type="url" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">URL target blank (ver como)</label>
                </div>
                <div class=" form-floating mb-3">
                    <input type="text" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">"Título Proyecto"</label>
                </div>
                <div class=" form-floating mb-2">
                    <textarea class="form-control rounded-0 formulariosinput" placeholder="Leave a comment here"
                        id="floatingTextarea2" style="height: 75px"></textarea>
                    <label for="floatingTextarea2">Descripción</label>
                </div> -->

                 <!-- input --------------------------------------------------------------- -->
                 <div class=" form-floating mb-4">
                    <input type="text" formControlName="urlimg" [(ngModel)]="imgPageProyecto"
                        class="form-control rounded-0 formulariosinput" id="floatingInput" placeholder="urlimg"
                        [ngClass]="{'is-invalid': urlimg?.errors && urlimg?.touched, 
                  'is-valid': !urlimg?.errors && urlimg?.touched}">
                    <!-- 'is valid is invalid' son clases con el tick verde o rojo -->
                    <label for="floatingInput">URL de imagen a mostrar en página</label>
                </div>
                <!-- 'Gracias al getter que configuramos en el controlador' (nombre, Password, Mail etc inputs)-->
                <div *ngIf="urlimg?.errors  && urlimg?.touched">
                    <p *ngIf="urlimg?.hasError('required')" class="error2 text-start">
                        * Cargar la url de la imagen es requerido
                    </p>
                </div>

                <!-- input --------------------------------------------------------------- -->
                <div class=" form-floating mb-4">
                    <input type="text" formControlName="altImg" [(ngModel)]="imgPageAlt"
                        class="form-control rounded-0 formulariosinput" id="floatingInput" placeholder="altImg"
                        [ngClass]="{'is-invalid': altImg?.errors && altImg?.touched, 
                                      'is-valid': !altImg?.errors && altImg?.touched}">
                    <!-- 'is valid is invalid' son clases con el tick verde o rojo -->
                    <label for="floatingInput">Nombre de img en página (alt)</label>
                </div>
                <!-- no requerido-->
                <!-- <div *ngIf="altImg?.errors  && altImg?.touched">
                    <p *ngIf="altImg?.hasError('required')" class="error2 text-start">
                        * Campo requerido
                    </p>
                </div> -->

                <!-- input --------------------------------------------------------------- -->
                <div class=" form-floating mb-4">
                    <input type="text" formControlName="targetblank" [(ngModel)]="hrefTargetBlank"
                        class="form-control rounded-0 formulariosinput" id="floatingInput" placeholder="targetblank"
                        [ngClass]="{'is-invalid': targetblank?.errors && targetblank?.touched, 
                                      'is-valid': !targetblank?.errors && targetblank?.touched}">
                    <!-- 'is valid is invalid' son clases con el tick verde o rojo -->
                    <label for="floatingInput">URL para ampliar información (click en icon)</label>
                </div>
                <!-- 'Gracias al getter que configuramos en el controlador' (nombre, Password, Mail etc inputs)-->
                <div *ngIf="targetblank?.errors  && targetblank?.touched">
                    <p *ngIf="targetblank?.hasError('required')" class="error2 text-start">
                        * Cargar la url de la imagen es requerido
                    </p>
                </div>

                <!-- input --------------------------------------------------------------- -->
                <div class=" form-floating mb-4">
                    <!-- ***************agregar el ngmodel para que eldat de cada input se guarde en la bd******************************************** -->
                    <input type="text" formControlName="titulop" [(ngModel)]="tituloProyecto"
                        class="form-control rounded-0 formulariosinput" id="floatingInput" placeholder="titulop"
                        [ngClass]="{'is-invalid': titulop?.errors && titulop?.touched, 
                                      'is-valid': !titulop?.errors && titulop?.touched}">
                    <!-- 'is valid is invalid' son clases con el tick verde o rojo -->
                    <label for="floatingInput">"Título del Proyecto"</label>
                </div>
                <!-- 'Gracias al getter que configuramos en el controlador' (nombre, Password, Mail etc inputs)-->
                <div *ngIf="titulop?.errors  && titulop?.touched">
                    <p *ngIf="titulop?.hasError('required')" class="error2 text-start">
                        * El título es requerido
                    </p>
                </div>

                <!-- input --------------------------------------------------------------- -->
                <div class=" form-floating mb-3">
                    <!-- descripcion no tengo en arq peroagregotodo por las dudas [(ngModel)]="descripcionnnn"  -->
                    <textarea type="text" formControlName="descripcionp" [(ngModel)]="descripcion"
                        class="form-control rounded-0 formulariosinput" placeholder="descripcionp"
                        id="floatingTextarea2" style="height: 85px" [ngClass]="{'is-invalid': descripcionp?.errors && descripcionp?.touched, 
                                     'is-valid': !descripcionp?.errors && descripcionp?.touched}"></textarea>
                    <label for="floatingTextarea2">Descripción del proyecto</label>
                </div>
                <!-- <div *ngIf="descripcionp?.errors  && descripcionp?.touched">
                    <p *ngIf="descripcionp?.hasError('required')" class="error2 text-start mt-3">
                        * Campo requerido
                    </p>
                </div> -->


                <br class="py-5 mb-2">
                <hr class="w-75 m-auto mt-3">
            </div>
            <button type="button" class="btn btn-ligth fa-solid fa-rotate-right mt-3" (click)="limpiar()"></button>
            <!-- aceptar---------------------------------------------------------------------------- -->
            <div class="modal-body text-center justify-content-between">
                <button type="submit" class="w-100 btn btn-lg rounded-0 btn-loginout3 mb-5">Aceptar</button>
            </div>
        </div>
    </div>
</form>











<!-- por si divido por arq y web, no creo ya, dejo aca
<div class="form-floating mb-3">
                        <select class="form-select rounded-0 formulariosinput" id="floatingSelect" aria-label="Floating label select example">
                          <option selected></option>
                          <option value="1">Programación web</option>
                          <option value="2">Diseño y Arquitectura</option>
                        </select>
                        <label for="floatingSelect">Seleccionar rubro</label>
                    </div>
                 -->