<!--Modal banner edit/////////////////////PARECE QUE HAY QUE TRER CON NGFOR TMB, HAGO EDUCACION Y VUELVO-->
<form class="modal fade" id="modalBannerEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- [formGroup]="form" (ngSubmit)="onEnviar($event)" -->


    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Banners</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                <div class="container text-center justify-content-between">
                    <div class="row g-4">
                        <div class="col">
                            <h5>Editar banner header</h5>
                            <div class=" form-floating mb-3">
                                <input type="" class="form-control rounded-0 formulariosinput" id="floatingInput"
                                    placeholder="url">
                                <label for="floatingInput">Nueva URL del banner</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="py-5 mb-2">
                <hr class="w-75 m-auto mt-3">
            </div>

            <div class="modal-body">
                <div class="container text-center justify-content-between">
                    <div class="row g-4">
                        <div class="col">
                            <h5>Editar banner sobre mi</h5>
                            <div class=" form-floating mb-3">
                                <input type="" class="form-control rounded-0 formulariosinput" id="floatingInput"
                                    placeholder="url">
                                <label for="floatingInput">Nueva URL del banner</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="py-5 mb-2">
                <hr class="w-75 m-auto mt-3">
            </div>

            <div class="modal-body">
                <div class="container text-center justify-content-between">
                    <div class="row g-4">
                        <div class="col">
                            <h5>Editar banner educacion</h5>
                            <div class=" form-floating mb-3">
                                <input type="" class="form-control rounded-0 formulariosinput" id="floatingInput"
                                    placeholder="url">
                                <label for="floatingInput">Nueva URL del banner</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="py-5 mb-2">
                <hr class="w-75 m-auto mt-3">
            </div>

            <div class="modal-body">
                <div class="container text-center justify-content-between">
                    <div class="row g-4">
                        <div class="col">
                            <h5>Editar banner salida</h5>
                            <div class=" form-floating mb-3">
                                <input type="" class="form-control rounded-0 formulariosinput" id="floatingInput"
                                    placeholder="url">
                                <label for="floatingInput">Nueva URL del banner</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="py-5 mb-2">
                <hr class="w-75 m-auto mt-3">


                <br class="pt-2 mb-0">
                <!-- <hr class="w-75 m-auto mt-3 mb-4"> -->
                <!-- aceptar---------------------------------------------------------------------------- -->


                <!-- <button type="button" class="btn btn-ligth fa-solid fa-rotate-right" (click)="limpiar()"></button> -->

                <!-- activar esto cuando haga el ts -->
                <div class="text-center">
                    <button type=" button" class="btn btn-ligth fa-solid fa-rotate-right text-center"></button>
                    <button type="submit" class="w-100 mb-5 mt-3 btn btn-lg rounded-0 btn-loginout3">
                        Agregar
                    </button>
                </div>
            </div>


        </div>
    </div>
</form>