body {
  margin: 0;
  padding: 0;
}

p {
  font-size: .97em;
}

.foot {
  /* min-height: 2vh; */
  /* border-top: 1px solid var(--color-texto-medio-oscuro); */
  /* border-top: 1px solid #77777742; */
  color: #515151e2;
  font-size: 1em;
  /* letter-spacing: 2px; */

}

.bg-image {
  /* background-image: url('../../../assets/img/banners/3educacion.jpg'); */
  background-image: url('https://images.pexels.com/photos/16650113/pexels-photo-16650113.jpeg');
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
  height: 3.2em;
}

.form-floating>label {
  padding: .75rem .75rem;
}

.body {
  padding: 1.8rem 2.4rem 1rem 2.4rem;
}

/* transparencia background login */
.bg-light {
  opacity: 94%;  
  background-color: #f6f6f6 !important;
}