<div class=" container-fluid  bg-image">
    <!-- login NO MODAL -->
    <div class="row d-flex align-items-center justify-content-center h-100 ms-2 me-2">
        <div class="col-lg-4 col-md-7 col-sm-5 col-xs-10 bg-light m-0">
            <form class="" [formGroup]="loginForm" (ngSubmit)="onEnviar($event)">
                <div class="modal-dialog modal-dialog-centered  ">
                    <div class="modal-content ">
                        <div class="modal-header pt-2 pb-2 ps-3 pe-3">
                            <h1 class="modal-title fs-5 " id="exampleModalLabel">Login</h1>
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button> -->
                        </div>
                        <!-- <div class="m-4 mb-4"> -->
                        <div class="body mb-1">
                            <!-- input mail ----------------------------------------------------------------- -->
                            <div>
                                <div class=" form-floating mb-3 mt-2"> <!-- [(ngModel)]="persona.email" -->
                                    <input type="email" formControlName="email" pattern="[^ @]*@[^ @]*"                                      
                                        class="form-control rounded-0 formulariosinput bg-light" id="floatingInput14"
                                        placeholder="name@example.com"
                                        [ngClass]="{'is-invalid': Mail?.errors && Mail?.touched, 'is-valid': !Mail?.errors }">
                                    <label for="floatingInput14">Email</label>
                                </div>
                                <div *ngIf="Mail?.errors  && Mail?.touched">
                                    <p *ngIf="Mail?.hasError('required')" class="error">
                                        * El email es requerido
                                    </p>
                                    <p *ngIf="Mail?.hasError('email')" class="error">
                                        * El formato del email debe ser válido
                                    </p>
                                </div>
                            </div>
                            <!-- input password ------------------------------------------------------------ -->
                            <div>
                                <div class="form-floating mb-3 mt-4">
                                    <input type="password" formControlName="clave"
                                        class="form-control rounded-0 formulariosinput bg-light" id="floatingPassword"
                                        placeholder="Password" [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 
                                                          'is-valid': !Password?.errors}">
                                    <label for="floatingPassword">Password</label>
                                </div>

                                <div *ngIf="Password?.errors  && Password?.touched">
                                    <p *ngIf="Password?.hasError('required')" class="error">
                                        * El password es requerido
                                    </p>
                                    <p *ngIf="Password?.errors?.['minlength']" class="error">
                                        * El password debe ser de 8 o más caracteres
                                    </p>
                                </div>
                            </div>
                            <!-- boton iniciar sesion-------------------------------------------------------- -->
                            <br class="">
                            <hr class="w-75 m-auto mt-0 pb-4">
                            <!-- <br class="pb-5 mb-4"> -->
                            <!-- <button type="button" class="btn btn-ligth" >Limpiar</button> -->
                            <button type="submit" class="w-100 mb-4 mt-3 btn btn-lg rounded-0 btn-loginout3">
                                Iniciar Sesión
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- <section class="seccion-oscura foot" *ngFor="let itemPersona of personaItems"> -->
        <div class="foot fixed-bottom mb-4">
            <div class="copyrights text-center"> &#169; 2022-2023 Soledad Fretes</div>
        </div>
    </div>
</div>