 /* botones login logout -------------------------------------------*/
 .bi-box-arrow-in-right,
 .bi-box-arrow-right {
   height: 1.5em;
   opacity: 70%;
 }


 /* .error{
    color:#dd0000;
    text-transform:lowercase;
    font-size: 2em;
  } */
 /* .error {
   color: #000000;
   text-transform: lowercase;
   font-size: 1.2em;
 } */
 .error {
  /* color: #8b8b8b; */
  /* color:#dd0000; */
  color:var(--color-reactivos-novalid-letra);
  text-transform: lowercase;
  font-size: 1.1em;
  margin-top: -0.6em;
  letter-spacing: 1px;
  /* transition:5s;
  transition-timing-function: ease-in; */
}

 .valido {
   border: 0.1em solid var(--color-reactivos-valid) !important;
 }

 .invalido {
   /* border: 0.1em solid #dd0000 !important; */
   border: 0.1em solid var(--color-reactivos-novalid-borde) !important; 
   transition: .7\5s border-color;
 }

 /* le saco el borde color en formularios login en caso de usar el rojo verde, solo en modal login */
 .formulariosinput:focus {
  border: 0.1em solid var(--color-texto-header) !important;
 
}