<!--Modal contacto -->
<form class="modal fade" id="modalContacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar contactame//UNIFICAR CON ENTIDAD PERSONA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- 1ra parte modal, banner? -------------------------------------------------------------- -->
            <div class="modal-body">
                <div class="container text-center justify-content-between">
                    <div class="row g-4">
                        <div class="col">
                            <h5>Editar banner salida</h5>
                            <div class=" form-floating mb-1">
                                <input type="" class="form-control rounded-0 formulariosinput" id="floatingInput"
                                    placeholder="url">
                                <label for="floatingInput">Nueva URL del banner salida</label>
                            </div>
                        </div>
                    </div>
                </div>
               
                <!-- ------------/////////////////arreglar///////////////////////////// -->
            </div>
            <br class="">
            <hr class="w-75 m-auto mt-1 mb-3">
            <!-- primera parte modal-------------------------------------------------------------- -->
            <div class="modal-body mb-3">
                <div class="form-floating mb-2">
                    <textarea class="form-control rounded-0 formulariosinput" placeholder="Leave a comment here"
                        id="floatingTextarea2" style="height: 65px"></textarea>
                    <label for="floatingTextarea2">Modificar Servicios 1</label>
                </div>
                <div class="form-floating mb-2">
                    <textarea class="form-control rounded-0 formulariosinput" placeholder="Leave a comment here"
                        id="floatingTextarea2" style="height: 65px"></textarea>
                    <label for="floatingTextarea2">Modificar Servicios 2</label>
                </div>
                <div class="form-floating mb-4">
                    <textarea class="form-control rounded-0 formulariosinput" placeholder="Leave a comment here"
                        id="floatingTextarea2" style="height: 90px"></textarea>
                    <label for="floatingTextarea2">Modificar texto de salida</label>
                </div>
                <!-- <br class="pt-3"> -->
                <!-- <hr class="w-75 m-auto mt-4"> -->
            </div>
            <!-- segunda parte modal-------------------------------------------------------------- -->
            <hr class="w-75 m-auto mb-4">
            <div class="d-flex justify-content-center">
                <h5 class="mt-2 pt-0">Editar o agregar redes</h5>
                <button data-bs-target="#modalRedAdd" data-bs-toggle="modal"
                    class=" ms-3 pb-1 btn btnEditModal"><i class="fa-solid fa-plus"></i>
                </button>
                <!-- class=" ms-3 botonEditSubseccionOscura" -->
            </div>
            <hr class="w-75 m-auto my-3">
            <div class="modal-body mt-0">
                <div class="container text-center justify-content-between">
                    <div class="row g-4">
                        <div class="col mt-0">

                            <!--  <div class="">
                                <span class="d-flex flex-row justify-content-center">
                                    <h5 class="d-flex mt-2">Editar o agregar redes</h5>
                                    <button data-bs-target="#createGeneralSocialModal" data-bs-toggle="modal"
                                        class=" ms-3 mb-2  botonEditSeccionOscura">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </span>
                                <br class="pt-3">
                                <hr class="w-75 m-auto mt-4">
                            </div> -->


                            <!-- red 1 -->
                            <div>
                                <div class="mt-0 row d-flex justify-content-center align-items-center">
                                    <div class="col-1"></div>
                                    <div class="col-4"><i class="pt-4 pb-3 fa-brands bi bi-linkedin"></i>
                                    </div>
                                    <!-- PARA AGRANDAR ICONO RED class="fa-2x pt-4 pb-3 fa-brands bi bi-linkedin" -->
                                    <div class="col-3 mt-3"><button data-bs-target="#editRedHalfBanner1"
                                            data-bs-toggle="modal" class=" btn btn-extra-mini mb-0 btnEditModal"><i
                                                class="fa-solid fa-pen"></i></button>
                                    </div>
                                    <div class="col-1 mt-3"><button data-bs-target="#deleteGeneralSocialModal"
                                            data-bs-toggle="modal" class=" btn btn-extra-mini mb-0 btnEditModal"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                    <div class="col-3"></div>
                                </div>
                            </div>
                            <!-- red 2 -->
                            <div>
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-1"></div>
                                    <div class="col-4"><i class="pt-4 pb-3 fa-brands bi bi-github"></i>
                                    </div>
                                    <div class="col-3 mt-3"><button data-bs-target="#editGeneralSocialModal"
                                            data-bs-toggle="modal" class=" btn btn-extra-mini mb-0 btnEditModal"><i
                                                class="fa-solid fa-pen"></i></button>
                                    </div>
                                    <div class="col-1 mt-3"><button data-bs-target="#deleteGeneralSocialModal"
                                            data-bs-toggle="modal" class=" btn btn-extra-mini mb-0 btnEditModal"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                    <div class="col-3"></div>
                                </div>
                            </div>
                            <!-- red 3 -->
                            <div>
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-1"></div>
                                    <div class="col-4"><i class="pt-4 pb-3 fa-brands bi bi-envelope-fill"></i>
                                    </div>
                                    <!-- PARA AGRANDAR ICONO RED class="fa-2x pt-4 pb-3 fa-brands bi bi-linkedin" -->
                                    <div class="col-3 mt-3"><button data-bs-target="#editRedHalfBanner1"
                                            data-bs-toggle="modal" class=" btn btn-extra-mini mb-0 btnEditModal"><i
                                                class="fa-solid fa-pen"></i></button>
                                    </div>
                                    <div class="col-1 mt-3"><button data-bs-target="#deleteGeneralSocialModal"
                                            data-bs-toggle="modal" class=" btn btn-extra-mini mb-0 btnEditModal"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                    <div class="col-3"></div>
                                </div>
                            </div>
                            <!-- red 4 -->
                            <div>
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-1"></div>
                                    <div class="col-4"><i class="pt-4 pb-3 fa-brands bi bi-instagram"></i>
                                    </div>
                                    <div class="col-3 mt-3"><button data-bs-target="#editGeneralSocialModal"
                                            data-bs-toggle="modal" class=" btn btn-extra-mini mb-0 btnEditModal"><i
                                                class="fa-solid fa-pen"></i></button>
                                        <!--   <div class="col-3 mt-3"><button data-bs-target="#editGeneralSocialModal"
                                                data-bs-toggle="modal" class=" botonEditSubseccion"><i
                                                    class="fa-solid fa-pen"></i></button> -->
                                    </div>
                                    <div class="col-1 mt-3"><button data-bs-target="#deleteGeneralSocialModal"
                                            data-bs-toggle="modal" class=" btn btn-extra-mini mb-0 btnEditModal"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                    <div class="col-3"></div>
                                </div>
                            </div>

                        </div>
                        <!-- </div>
                                                    </div> -->
                        <!-- <div class="modal-footer"><button data-bs-dismiss="modal" aria-label="Cerrar"
                                                            class="btn btn-black-mini">Cerrar</button></div> -->
                    </div>
                    <!-- ggggggggggggggggggggggggggggg hasta aca, maso -->
                </div>
               
            </div>
            <br class=" mb-2">
            <hr class="w-75 m-auto mb-3">
            <div class="modal-body">
                <button class="w-100 btn btn-lg rounded-0 btn-loginout3 mb-5" type="submit">Aceptar</button>
            </div>
        </div>
    </div>
</form>