<!-- seccion sobre mi + experiencias + banner avatar + modal edit textos en un solo click-------------------------->
<section>
    <div class="container-fluid seccion-oscura" id="sobre-mi">
        <div class="container-fluid">
            <div class="row" *ngFor="let itemPersona of personaItems">
                <div class="m-0 col-sm-8 sobremi">
                    <div class="text-end">
                        <!-- modal en un click-->
                        <button type="button" class="botonEditSeccionOscura" data-bs-toggle="modal"
                            data-bs-target="#modalSobreMiInsideComponent"
                            (click)="itemPersona.id? findPers(itemPersona.id): null" *ngIf="modoEdit">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    </div>
                    <!-- /////////////////con el avatar fotito, no///////////////////// -->
                    <!-- <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3">
                        <img class="img-fluid" [src]="itemPersona.bannerAvatar" alt="avatar">
                    </div> -->
                    <!-- /////////////////con el avatar fotito, no///////////////////// -->

                    <!-- titulo sobre mi ------------------------------------------------->
                    <h2 class="seccion-titulo">Sobre mi</h2>
                    <p class="seccion-texto">{{itemPersona.sobremi}}
                    </p>
                    <!-- descarga cv-----mal aca---------------------------------- -->
                    <!-- <br><div class=""><a target="_blank" class="linkcv " [href]="itemPersona.cv"> Ver Curriculum Vitae </a></div>-->
                    <!-- titulo experiencias ------------------------------------------------->
                    <h2 class="seccion-titulo mt-5 pt-5">Experiencia</h2>
                    <p class="seccion-texto">{{itemPersona.experienciasTexto}} </p>
                    <!-- add experiencias -->
                    <div class=" pt-0 pb-4">
                        <div>
                            <div class="text-end">
                                <button type="button" class="botonEditSeccion" data-bs-toggle="modal"
                                    data-bs-target="#modalItemsEx" *ngIf="modoEdit" title="Agregar experiencias detalladas">
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                            </div>
                        </div>
                        <div class="moduloExp" *ngFor="let exp of expTodas">
                            <div class="mb-3 logosExp">
                                <img [src]="exp.logoLugar" class="logosExp"> <!-- alt="logo" -->
                            </div>
                            <div>
                                <h6>{{exp.fechaInicio}}-{{exp.fechaFin}}. <strong>{{exp.lugar}}</strong></h6>
                            </div>
                            <div>
                                <h6>Puesto/Tarea: <strong>{{exp.puesto}}</strong></h6>
                            </div>
                            <p class="pExp">{{exp.descripcion}}</p>
                        </div>
                    </div>
                    <!-- descarga cv ---------------------------------------------------->
                    <br><a target="_blank" class="linkcv" [href]="itemPersona.cv">Ver Curriculum Vitae</a><br>
                </div>
                <!-- banner avatar--------------------------------------------------------------- -->
                <div class="m-0 col-sm-4 avatarbanner"
                    [ngStyle]="{'background-image': ' url(' + itemPersona.bannerAvatar + ')'}" title="By Yaroslav Shuraev">
                </div>
            </div>
        </div>
    </div>
</section>

<app-modal-experiencia></app-modal-experiencia>


<!--Modal sobremi, datos en un solo click----------------------------------------------------------------------------------------->
<form class="modal fade" id="modalSobreMiInsideComponent" tabindex="-1" aria-labelledby="modalSobreMiInsideComponent"
    aria-hidden="true" [formGroup]="persoForm">
    <!-- creo que me fata name="formSobremi"   etc en todos los forms? -->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Sobre mi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!-- input Sobremi------------------------------------------------------------------------------ -->
                <div>
                    <div class="mb-1">
                        <h5>Texto Sobre mi</h5>
                        <textarea type="text" formControlName="sobremi" class="form-control rounded-0 formulariosinput"
                            id="t1" placeholder="" style="height: 280px" [ngClass]="{'is-invalid': Sobremi?.errors && Sobremi?.touched,
                                          'is-valid': !Sobremi?.errors}"></textarea>
                        <!-- <label for="floatingInput">Servicios1</label> -->
                    </div>
                    <div *ngIf="Sobremi?.errors  && Sobremi?.touched">
                        <p *ngIf="Sobremi?.hasError('required')" class="error2 text-start pt-3">
                            * Texto requerido
                        </p>
                    </div>
                </div>
                <!-- input Texto experiencias------------------------------------------------------------------------------ -->
                <div>
                    <div class="mb-1 pt-4">
                        <h5>Texto experiencias</h5>
                        <textarea type="text" formControlName="experienciasTexto"
                            class="form-control rounded-0 formulariosinput" id="t2" placeholder="" style="height: 270px"
                            [ngClass]="{'is-invalid': ExperienciasTexto?.errors && ExperienciasTexto?.touched,
                                          'is-valid': !ExperienciasTexto?.errors}"></textarea>
                        <!-- <label for="floatingInput">Servicios1</label> -->
                    </div>
                    <div *ngIf="ExperienciasTexto?.errors  && ExperienciasTexto?.touched">
                        <p *ngIf="ExperienciasTexto?.hasError('required')" class="error2 text-start pt-3">
                            * Texto requerido
                        </p>
                    </div>
                </div>
                <!-- input cv---------------------------------------------------------------------------------- -->
                <div class="mb-0 pt-4">
                    <h5>Curriculum Vitae</h5>
                    <div class=" form-floating mb-0">
                        <input type="text" formControlName="cv" class="form-control rounded-0 formulariosinput"
                            id="floatingInput9" placeholder="cv" [ngClass]="{'is-invalid': Cv?.errors && Cv?.touched,
                                                       'is-valid': !Cv?.errors }">
                        <label for="floatingInput9">Reemplazar nombre del archivo o insertar desde URL</label>
                        <!-- agregando formcontrolname ahi con nombre del campo ya te trae los datos de la bd!! sin no se veia nada -->
                        <div *ngIf="Cv?.errors  && Cv?.touched">
                            <p *ngIf="Sobremi?.hasError('required')" class="error2 text-start mt-2">
                                * Campo requerido
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- aceptar---------------------------------------------------------------------------------------- -->
            <div class="modal-body text-center justify-content-between">
                <!-- <br class="pt-0 mb-0"> -->
                <hr class="w-75 m-auto mt-0 mb-4">
                <button type="btn" class="btn btn-ligth fa-solid fa-rotate-right" (click)="limpiarP()" title="Limpiar Formulario"></button>
                <button type="submit" class="w-100 mb-5 mt-3 btn btn-lg rounded-0 btn-loginout3" (click)="savePers()"
                    data-bs-dismiss="modal" [disabled]="persoForm.invalid">Guardar</button>
            </div>
        </div>
    </div>
</form>