<!-- sobre mi + avatar con media queriesokokko//////////////////////
/////////////////////////////////////////////////////////////////// -->
<section>
    <div class="container-fluid seccion-oscura" id="sobre-mi">
        <div class="container-fluid">
            <div class="row">
                <div class="m-0 col-sm-8 sobremi">
                    <!-- botones edicion seccion ------------------------------------------>
                    <div class="text-end">
                        <button type="button" class="botonEditSeccionOscura" data-bs-toggle="modal"
                            data-bs-target="#modalEditSobremi">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <!-- <button type="button" class="botonEditSeccionOscura">  -----------dejo edit boton nomas
                            <i class="fa-solid fa-plus"></i>
                        </button> -->
                        <!-- <button type="button" class="botonEditSeccionOscura"><i
                                        class="fa-solid fa-trash"></i></button><br> -->
                    </div>
                    <!-- titulo seccion --------------------------------------------------->
                    <h2 class="seccion-titulo">Sobre mi</h2>
                    <p class="seccion-texto">{{sobremi}}
                        <!--<a target="_blank" class="linkcv"
                             href="../assets/cv/cv-SoledadFretes.pdf"> > Curriculum Vitae </a> -->
                    </p>

                    <!-- titulo seccion --------------------------------------------------->
                    <h2 class="seccion-titulo mt-5">Experiencia</h2>
                    <p class="seccion-texto">{{experiencias}} </p>

                    <!-- descarga cv---------------------------------------------------- -->
                    <br>
                    <a target="_blank" class="linkcv" [href]="cv"> Ver Curriculum Vitae. </a>
                    <br>
                </div>

                <!-- banner avatar -------------------------------------------------------->
                <!-- yo les veo un pequenio movimiento al scrolear now, pero fue... -->
                <div class="m-0 col-sm-4 avatarbanner"  [style.background-image]="bannerAvatar"> 

                <!-- https://stackblitz.com/edit/how-to-use-an-image-as-background-with-ngstyle-angular-5?file=src%2Fapp%2Fapp.component.html
                estos no me funcionan -->
                <!-- <div class="m-0 col-sm-4 avatarbanner" [ngStyle]="{'background': ' url(' + bannerAvatar  + ')'}"> -->
                <!-- <div class="m-0 col-sm-4 avatarbanner" [ngStyle]="{'background': 'url($bannerAvatar)'}"> -->

                <!-- DomSanitizer-VERRRRR SI HAY PROBLEMAS
                https://stackoverflow.com/questions/34875426/how-to-add-background-image-using-ngstyle-angular2 -->

                    <!-- botones edicion banner, sacar probs, editar en el modal sccion-------------------------------->
                    <div class="text-end">
                        <button type="button" class="botonEditSeccion"><i class="fa-solid fa-pen"></i></button>
                        <!-- <button type="button" class="botonEditSubseccionOscura"><i
                                        class="fa-solid fa-plus"></i></button> -->
                        <button type="button" class="botonEditSeccion"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fin sobre mi + avatar con media queriesokokko/////////////////////////
////////////////////////////////////////////////////////////////////////// -->


<!-- llamo a modal header--------si no lo pongo aca no abre nada--------------------->
<app-modal-sobremi></app-modal-sobremi>