<!-- half header name + arq programadora + redes ///////////////////
/////////////////////////////////////////////////////////////////// -->

<section class="container-fluid headername" id="home">
    <section class=" m-5 align-items-left">
        <div class="d-flex flex-column ">
            <div class="">
                <!-- titulo seccion --------------------------------->


                <!-- hice un ngfor pero deberia haber puesto solo {{persona.nombre}},,,,
                    (ah h tenia un ngfor al comienzo, despues ya no, nose  tonces)
                    PERO NO ME ANDAAAA 
                Y NO GUaRDE COMO LO TENIA ANTES CON EL JSON VIEJO,,,ZZZZZZZZZZ-->
                <div *ngFor="let itemPersona of personaItems">
                    <h1>{{itemPersona.nombre}}{{itemPersona.apellido}}</h1>
                    <h5>{{itemPersona.ocupacion}}</h5>


                    <!-- cambie la | en el json por una mas larga,ver 

                        arquitecta | programadora web fullstack jr
                        arquitecta | programadora web fullstack jr|
                        arquitecta • programadora web fullstack jr
                        
                        ------volvi al original lol-->
                    
                </div>
                <!-- componente redes-------------------------------->
                <app-redes></app-redes>

                <!-- botones edicion seccion------------------------->
                <div class="divEditRight">
                    <button type="button" class="botonEditSeccion" data-bs-toggle="modal"
                        data-bs-target="#modalEditName">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <!-- <button type="button" class="botonEditSeccion" data-bs-toggle="modal" data-bs-target="#modalAdd">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button type="button" class="botonEditSeccion" data-bs-toggle="modal" data-bs-target="#modalDelete">
                        <i class="fa-solifa-trash"></i>
                    </button> -->
                </div>

                <!-- llamo a modal header----------------------------->
                <app-modal-header></app-modal-header>
            </div>
        </div>
    </section>
</section>
<!-- fin half header name + arq programadora + redes ////////////////
            //////////////////////////////////////////////////////////////// -->