
/* half header name + arq programadora + redes //////////////////////////
  ///////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////// */
/* fondo de seccion nombre, NO el mismo que navbar-----------------*/
.headername {
    background-color: var(--color-background-navbar2);
    color: rgb(180, 180, 180);
  
    height: 15em;
  
    padding: 8em;
    padding-top: 12em;
  }
  
  /* fin half header name + arq programadora + redes //////////////////////
    ///////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////// */
  