<section class="container-fluid headername" id="home">
    <div class=" m-5 align-items-left">
        <div class="d-flex flex-column ">
            <div class="">
                <!-- titulo seccion --------------------------------->
                <div *ngFor="let itemPersona of personaItems">
                    <h1>{{itemPersona.nombre}}{{itemPersona.apellido}}</h1>
                    <h5>{{itemPersona.ocupacion}}</h5>
                </div>
                <!-- componente redes-------------------------------->
                <app-redes></app-redes>
                <!-- botones edicion seccion------------------------->
                <div class="divEditRight" *ngIf='modoEdit'>
                    <button type="button" class="botonEditSeccion" data-bs-toggle="modal" data-bs-target="#modalHeader">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- llamo a modal header----------------------------->
<app-modal-header></app-modal-header>
<!-- <app-modal-red-add></app-modal-red-add> -->