  <!-- ////////////////anda el login con modal, use este component logout que ya no servia como login(BORRAR UNO!), pero anda bien 21-4-23///////////// -->
  <!-- ////////////////////////////////logout/////////////ERA, LO USO PARA PROBAR LOGIN EN MODAL 21-4-23/////////////////////////////// -->
  
  
  <form  [formGroup]="loginForm" (ngSubmit)="onEnviarModal($event)" class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel2"
  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  ">
        <div class="modal-content ">
            <div class="modal-header pt-3 pb-3 ps-4 pe-4">
                <h1 class="modal-title fs-5 " id="exampleModalLabel">Login</h1>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button> -->
            </div>
            <div class="modal-body mb-4">

                <!-- input mail ----------------------------------------------------------------- -->
                <div class=" form-floating mb-3 mt-2"> <!-- [(ngModel)]="persona.email"  -->
                    <input type="email" formControlName="email" pattern="[^ @]*@[^ @]*"
                        class="form-control rounded-0 formulariosinput bg-light"
                        id="floatingInput15" placeholder="name@example.com" [ngClass]="{'is-invalid': Mail?.errors && Mail?.touched, 
                                          'is-valid': !Mail?.errors }">
                    <!-- 'is valid is invalid' son clases con el tick verde o rojo -->
                    <label for="floatingInput15">Email</label>
                </div>
                <!-- 'Gracias al getter que configuramos en el controlador' (Mail, Password, etc inputs)-->
                <div *ngIf="Mail?.errors  && Mail?.touched">
                    <p *ngIf="Mail?.hasError('required')" class="error">
                        * El email es requerido
                    </p>
                    <p *ngIf="Mail?.hasError('email')" class="error">
                        * El formato del email debe ser válido
                    </p>
                </div>

                <!-- input password ------------------------------------------------------------ -->
                <div class="form-floating mb-3 mt-4">
                    <input type="password" formControlName="clave"
                        class="form-control rounded-0 formulariosinput bg-light" id="floatingPassword"
                        placeholder="Password" [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 
                                          'is-valid': !Password?.errors}">
                    <label for="floatingPassword">Password</label>
                </div>

                <div *ngIf="Password?.errors  && Password?.touched">
                    <p *ngIf="Password?.hasError('required')" class="error">
                        * El password es requerido
                    </p>
                    <p *ngIf="Password?.errors?.['minlength']" class="error">
                        * El password debe ser de 8 o más caracteres
                    </p>
                </div>
                <!-- boton iniciar sesion-------------------------------------------------------- -->
                <!-- <br class="my-4 p-3"> -->
                <br class="">
                <hr class="w-75 m-auto mt-0 pb-5">
                <!-- <br class="pb-5 mb-4"> -->
                <!-- <button type="button" class="btn btn-ligth" >Limpiar</button> -->
                <button type="submit" class="w-100 mb-4 btn btn-lg rounded-0 btn-loginout3">
                    Iniciar Sesión
                </button>
            </div>
        </div>
    </div>
</form>
  
