  <!-- ////////////////////////////////logout//////////////////////////////////////////// -->
  <div class="nav-item">
    <!-- button trigger modal logout -->
    <button type="button" class="btn btn-outline-secondary p-0" data-bs-toggle="modal"
        data-bs-target="#modalLogout">
        <!-- <i class="bi bi-box-arrow-right" style="font-size: 1.5em;"></i>  dejo svg-->
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            class="bi bi-box-arrow-right" viewBox="0 0 17 17">
            <path fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
            <path fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
        </svg>
    </button>

    <!-- Modal logout, poner despues del footer-->
    <form class="modal fade" id="modalLogout" tabindex="-1" aria-labelledby="exampleModalLabel2"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content ">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel2">Logout</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                    </button>
                </div>
                <div class="modal-body p-5 pt-0">
                    <form class="">
                        <button class="w-100 mb-2 mt-5 btn btn-lg rounded-0 btn-loginout3 "
                            type="submit">
                            Cerrar Sesión
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </form>

</div>
