:root {
  /* --color-background-navbar: #ffffff; */
  --color-background-navbar: #ffffffd1;
  --color-background-oscuro1: #191919;
  /* color de offscanvas y modales tambien, sin transparencia */
  --color-background-claro: #ffffff;
  /* one color */
  --color-links-navbar: #efc591;
  /* nombre apellido */
  --color-texto-header: #a1a1a1;
  /* titulo cada skills */
  --color-texto-medio: #7d7d7d;
  /* diploma educacion */
  --color-texto-medio-educacion: #808080;

  --color-texto-medio-navbar: #6f6f6f;
  --color-texto-medio-navbar: #6f6f6fae;

  /* nombre y otros importantes */
  --color-texto-grande: #9a9a9a;
  /* skills % y bg barra */
  --color-texto-medio-oscuro: #424242;
  --padding-left: 3.5em;
  /* botones edit --------------- */
  --color-botones-edit-bg-seccion: #5b5b5b;
  --color-botones-edit-bg-subseccion: #4e4e4e;
  /* botones edit sombras --------------- */
  /* 26-3-23 */
  --edit-botones-box-shadow: 0 .25em 1em 0 #00000005, 0 .1em .2em 0 #86868624;

  --color-botones-edit-seccion: #616161;
  --color-botones-edit-subseccion: #d7d7d7;
  --color-botones-edit-seccion-oscura: #969696;
  --color-botones-edit-subseccion-oscura: #464646;
  /* cajita no el icono */
  --edit-botones-height: 2em;
  --edit-botones-width: 2em;

  /* form rectivos */
  --color-reactivos-novalid-letra: #ff4242;

  /* cambia tamanio de encabezado y footer */
  /* --bs-body-font-size: 1rem; */

  /* mostrar o no porcentajes skills */
  /* --skills-porcentajes-display: none; */

  /* mostrar o no botones edicion */
  /* --edit-botones-display: none; */
}


* {
  margin: 0;
  padding: 0;
  --bs-gutter-x: 0rem !important;
  box-sizing: border-box;

  /* font-family: "Oswald", sans-serif;*/
  /*font-family: 'Space Mono', monospace; */
  /* font-family: 'Roboto Mono', monospace; */
  /* OK */
  /* font-family: 'Nova Round', cursive; */
  /* OK */
  /* font-family: 'MuseoModerno', cursive; */

  font-family: 'Rajdhani', sans-serif;

  /* font-family: 'Nunito Sans', sans-serif; */
}

body {
  /* margin: 0; 
      padding: 0; */
  max-width: 100%;
  /* borde seccion oscura contra oscura */
  background-color: #272727;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
}

/* subtitulos, ocupacion, nombre institucion educacion, etc */
.h5,
h5 {
  font-size: 1rem;
  color: var(--color-texto-grande);
  /* font-weight: 550; */
}

/* subtitulo rubro skills */
h4 {
  color: var(--color-texto-medio-oscuro);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  /* letter-spacing: .2em; */
}

/* nombre encabezado */
h1,
.h1 {
  font-size: calc(1.325rem + 0.9vw);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

p {
  color: var(--color-texto-medio);
  margin-top: 0;
  margin-bottom: 1rem;

  /* letter-spacing: .1em; educacion */
  letter-spacing: .02em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seccion-oscura {
  color: var(--color-texto-medio);
  background-color: var(--color-background-oscuro1);
}

.seccion-clara {
  color: var(--color-texto-medio);
  background-color: var(--color-background-claro);
}

/* subrayado titulo, ANTES */
/* .seccion-titulo:before {
      width: 4rem;
      background-color: var(--color-links-navbar);
      content: "";
      display: block;
      height: 1px;
      margin-bottom: .5em;
    } */

/* subrayado titulo DESPUES */
.seccion-titulo:after {
  width: 4rem;
  background-color: var(--color-links-navbar);
  content: "";
  display: block;
  height: 1px;
  margin-top: .5em;
}

.seccion-titulo {
  font-size: 1.5rem;
  padding: .9em 0 .5em 0;
  color: var(--color-links-navbar);

  /* --------fuente = header---------- */
  font-family: 'Federo', sans-serif;
}

/* sobremi/exp/diploma textos */
.seccion-texto {
  font-size: 1.2rem;
}



/* navbar responsive. sin aparece logo en phone */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}





/* modales------------------------------------------------------------------- */
.modal-body {
  padding-top: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

/* bootstrap-modal-popping-up-but-has-a-tinted-page-and-cant-interact*/
/* en 0 modal educacion quedaba bajo navbar */
body.modal-open div.modal-backdrop {
  z-index: -1;
}

body.navbar-expand-lg-open div.navbar-backdrop {
  z-index: 0;
}


.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  /* color fondo modal */
  --bs-modal-bg: var(--color-background-claro);
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0 !important;
  --bs-modal-box-shadow: 0 0.125rem 0.25remrgba(0, 0, 0, 0.075);
  /* --bs-modal-inner-border-radius: calc(0.5rem - 1px); */
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: var(--bs-modal-zindex); */
  z-index: 1500;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  /* toda la pantalla con borde color */
  /* border: 5px solid var(--color-links-navbar); */
}

/* modales sombra y colores */
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-bottom: 0.1em solid #ced4da94;
  /* borde bajo 'login' depende calidad pantalla se ve o no 1px, fhd no */
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  /* outline: 0; */

  /* sombra sobre el fondo*/

  /* no se diferencia sobre fondo blanco proyectos */
  /* box-shadow: 0.1em 0.1em 1em 0.2em #00000054; */

  /* oscurece todo el fondo pero no es parejo, centrada */
  /* box-shadow: 0.5em 0.5em 90em 9em #00000282; */

  box-shadow: 0em 0em 50em 50em #0000007c;

  color: #999999;
  border-color: var(--color-links-navbar);
  /* border: var(--color-links-navbar); */
  border: 2.5px solid var(--color-links-navbar);
  /* border: 2px solid var(--color-texto-medio); */
}





/* botones-------------------------------------------------------------------- */
.btn-info {
  font-size: 1.1rem;
  margin: 1.5em;
}

/* botones login logout ? */
.btn-outline-secondary {
  border-radius: 0;
  width: 3rem;
  height: 3rem;
  border-color: transparent !important;
  /* color: var(--color-links-navbar); */
  color: var(--color-texto-medio);
}

.btn-outline-secondary:hover {
  color: var(--color-links-navbar);
  border-color: transparent;
  background-color: transparent;
}

/* btn login sin fondo gris al activarlo */
.btn-outline-secondary:active {
  color: var(--color-links-navbar);
  border: 2px solid var(--color-links-navbar);
  background-color: transparent !important;
}

/* boton X cerrar modales y offcanvas */
.btn-close {
  border-radius: 0;
  transition: box-shadow 0.15s ease-in-out;
  opacity: 25%;
}

/* saco sombra */
.btn-close:focus {
  box-shadow: 0em 0em 0em var(--color-background-claro);
}

.btn {
  /* botones dentro modales, sin sombra */
  --bs-btn-color: var(--color-botones-edit-seccion);
  --bs-btn-border-radius: 0rem;
}

/* boton footer form para el enviar mail directo -------- */
.btn-footer {
  /* --bs-btn-color: transparent; */
  --bs-btn-color: var(--color-links-navbar);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--color-links-navbar-hover);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: var(--color-links-navbar);
  --bs-btn-active-border-color: var(--color-links-navbar);
  --bs-btn-active-color: var(--color-links-navbar);
}

.btn-footer:hover {
  color: var(--color-texto-medio);
}

.btn-group-lg>.btn,
.btn-lg {
  /* padding btn iniciar sesion */
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0.5rem;
}


/* loginout/aceptar/guardar en modales */
.btn-loginout3 {
  --bs-btn-color: #aaaaaa;
  --bs-btn-bg: #ededed;

  --bs-btn-hover-color: #a3a3a3;
  --bs-btn-hover-bg: #191919;

  --bs-btn-active-color: #f3f3f3;
  --bs-btn-active-bg: #ededed;

  --bs-btn-disabled-color: #aaaaaa;
  --bs-btn-disabled-bg: #eaeaeaa0;
  --bs-btn-disabled-border-color: transparent;

  letter-spacing: 1px;
  font-size: 1.2em;
}

/* plus/pen/trash */
.btnEditModal {
  /* color:var(--color-texto-header) ; */
  color: #636262;
  /* padding-bottom: 1em; */
}

.btnEditModal:hover {
  color: var(--color-links-navbar);
}

.btnEditModal:active {
  color: var(--color-links-navbar);
  border: 0;
}

.btnEditModal:focus {
  color: var(--color-links-navbar);
  border: 0;
}

/* hace lo mismo en btn loginout3 hover */
/* .btn:hover {
  color: var(--color-links-navbar);
} */
.btn:active {
  border: none;
}

.btn:focus {
  border: none;
}

.btn {
  transition: all .12s ease-out;
}



/* botones edit, bi-pen------------------------------ */
.botonEditSeccion {
  /* border-radius: 40em;  */
  border-radius: 0;
  /* color: white;  */
  color: var(--color-botones-edit-seccion);
  background-color: transparent;
  border-color: transparent;
  box-shadow: var(--edit-botones-box-shadow);
  height: var(--edit-botones-height);
  width: var(--edit-botones-width);
  /* para ocultar botones, en root */
  display: var(--edit-botones-display);
}

.botonEditSeccion:hover {
  color: var(--color-links-navbar);
}

.botonEditSeccion:active {
  color: var(--color-links-navbar);
  border: 1px solid var(--color-links-navbar);
}

/* -------------------------------- */
.botonEditSubseccion {
  /* border-radius: 40em;  */
  border-radius: 0;
  /* color: white;  */
  color: var(--color-botones-edit-subseccion);
  background-color: transparent;
  border-color: transparent;
  box-shadow: var(--edit-botones-box-shadow);
  height: var(--edit-botones-height);
  width: var(--edit-botones-width);
  /* para ocultar botones */
  display: var(--edit-botones-display);
}

.botonEditSubseccion:hover {
  color: var(--color-links-navbar);
}

.botonEditSubseccion:active {
  color: var(--color-links-navbar);
  border: 1px solid var(--color-links-navbar);
}

/* -------------------------------- */
.botonEditSeccionOscura {
  /* border-radius: 40em;  */
  border-radius: 0;
  /* color: white;  */
  color: var(--color-botones-edit-seccion-oscura);
  background-color: transparent;
  border-color: transparent;
  box-shadow: var(--edit-botones-box-shadow);
  height: var(--edit-botones-height);
  width: var(--edit-botones-width);
  display: var(--edit-botones-display);
}

.botonEditSeccionOscura:hover {
  color: var(--color-links-navbar);
}

.botonEditSeccionOscura:active {
  color: var(--color-links-navbar);
  border: 1px solid var(--color-links-navbar);
}

/* -------------------------------- */
.botonEditSubseccionOscura {
  /* border-radius: 40em;  */
  border-radius: 0;
  /* color: white;  */
  color: var(--color-botones-edit-subseccion-oscura);
  background-color: transparent;
  border-color: transparent;
  box-shadow: var(--edit-botones-box-shadow);
  height: var(--edit-botones-height);
  width: var(--edit-botones-width);
  display: var(--edit-botones-display);
}

.botonEditSubseccionOscura:hover {
  color: var(--color-links-navbar);
}

.botonEditSubseccionOscura:active {
  color: var(--color-links-navbar);
  border: 1px solid var(--color-links-navbar);
}





/* forms----------------------------------------------------------------------------- */
/* borde input */
.form-control {
  background-color: var(--bs-offcanvas-bg);
  /* color borde input mail y password login etc */
  border: 0.1em solid #77777736 !important;
  /* border: 0.1em solid #e1e1e1 !important; */
  color: var(--color-texto-header);
}

.formulariosinput {
  transition: .5s border-color;
  /* color: var(--color-texto-header); toma el form-control color*/
}

.formulariosinput:focus {
  /* espesor linea de color al hacer click sobre input */
  /* border: .15em solid var(--color-links-navbar) !important; */
  /* saco el borde color en formularios, es mucho con los valid/invalid  */
  border: .1em solid #aeaeae !important;

  /* sombra alrededor del input */
  outline: 1em solid var(--bs-offcanvas-bg) !important;
  /* outline: 1em ridge rgba(170, 50, 220, .6); */

  /* el outline funciona para el modal login, aca funciona el box-shadow */
  box-shadow: 1em solid var(--bs-offcanvas-bg) !important;
  color: var(--color-texto-header);
}

.textarea-modal {
  border: .1em solid #77777742;
  border-radius: 0;
  transition: .5s border-color;
  width: 100%;
  color: var(--color-texto-header);
}

.textarea-modal:focus {
  /* espesor linea de color al hacer click en input */
  border: .15em solid var(--color-links-navbar) !important;

  /* borde sombra al hacer click en input */
  outline: 1em solid var(--bs-offcanvas-bg) !important;
  /* outline: 1em ridge rgba(170, 50, 220, .6); */

  /* funciona outline o box-shadow, depende donde */
  box-shadow: 1em solid var(--bs-offcanvas-bg) !important;
  color: var(--color-texto-header);
}


/* formularios reactivos letra--------------------------- */
.error2 {
  color: var(--color-reactivos-novalid-letra);
  text-transform: none;
  font-size: 1em;
  margin-top: -0.9em;
  /* estaba -0.6 */
  padding-bottom: 0.8em;
  letter-spacing: 1px;
  transition: 5s;
  transition-timing-function: ease-in;
}


/* links largos traidos con findById en los modales salian fuera del margin o padding del modal-body */
p {
  overflow-wrap: break-word;
  /* 4-5-23 agrego para ix */
  word-wrap: break-word;
  /* hyphens: auto; rompe mucho */
}





/* background-images-jump-when-opening-modal---cambio barra desplazamiento */

/* en pagina normal, no barra c modal open, no para firefox */
body::-webkit-scrollbar {
  width: 0.2em;
}

body::-webkit-scrollbar-track {
  background: var(--color-background-oscuro1);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-links-navbar);
  border-radius: 0;
  height: 6em;
}

/* para firefox, solo colorea, no ancho personalizado, solo 'thin' */
* {
  scrollbar-width: thin;
  scrollbar-color: #efc591cb #191919;
}