
<div class="bannerFOOTER">
    <!-- botones edicion seccion ---------------------------------------->
    <div class="text-end ">
        <button type="button" class="botonEditSubseccionOscura"><i class="fa-solid fa-pen"></i></button>
        <!-- <button type="button" class="botonEditSubseccionOscura"><i class="fa-solid fa-plus"></i></button> -->
        <button type="button" class="botonEditSubseccionOscura"><i class="fa-solid fa-trash"></i></button>
    </div>
</div>
<!-- fin banner footer ////////////////////////////////////////// -->
