.bannerFOOTER {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;
  min-height: 33em;
} /* parallax */

.ms-5 {
  margin-left: 2.5rem !important;
}
