<!-- ///////////////////////////////////nUEVO JSON////////////////////////////////////////////// -->
<!-- las HORAS buscando maneras de insertar esto, BOTH TIMES -->
<div *ngFor="let itemPersona of personaItems">
    <div class="bannerFOOTER" [ngStyle]="{'background-image': ' url(' + itemPersona.bannerSalida + ')'}">
        <!-- botones edicion seccion, se editan arriba todos los banners-->
        <!-- <div class="text-end ">
            <button type="button" class="botonEditSubseccionOscura"><i class="fa-solid fa-pen"></i></button>
            <button type="button" class="botonEditSubseccionOscura"><i class="fa-solid fa-trash"></i></button>
        </div> -->
    </div>
</div>






<!-- ///////////////////////////////////VIEJO JSON////////////////////////////////////////////// -->
<!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa!!!!!!!!!!! :O     5am -->
<!-- <div class="bannerFOOTER" [style.background-image]=" bannerSalida ">
    
    <div class="text-end ">
        <button type="button" class="botonEditSubseccionOscura"><i class="fa-solid fa-pen"></i></button> -->
        <!-- <button type="button" class="botonEditSubseccionOscura"><i class="fa-solid fa-plus"></i></button> -->
        <!-- <button type="button" class="botonEditSubseccionOscura"><i class="fa-solid fa-trash"></i></button>
    </div>
</div> -->









<!-- 
    ahora siiii, poniendo esto en html          
           <div class="bannerFOOTER" [style.background-image]="bannerSalida"> 
    y esto en el ts    
            ngOnInit(): void {
                this.datos.getDatos().subscribe(data => {
                    this.bannerSalida = `url(${data.bannerSalida})`     
            });}
    y nada en el css, solo el resto de estilos, opacidad, fixed etc

    bannerEntrada
    bannerAvatar

    ngOnInit(): void {
                this.datos.getDatos().subscribe(data => {
                    this.bannerEntrada = `url(${data.bannerEntrada})`     
            });}

             ngOnInit(): void {
                this.datos.getDatos().subscribe(data => {
                    this.bannerAvatar = `url(${data.bannerAvatar})`     
            });}
 -->