<!-- modal con todos los items y sus id (apagado) skill web----------------------------------------------------------------------------->
<div class="modal fade" id="modalItemsSkillWeb" tabindex="-1" aria-hidden="true" aria-labelledby="modalItemsSkillWeb" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalItemsSkillWeb">Programación Web</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>           
            <div class="modal-body">               
                <div class="text-end">
                    <!-- <h5 class="mt-2 pt-0">Agregar</h5> -->
                    <button data-bs-target="#modalEditOrAddSkillWeb" data-bs-toggle="modal" class="btn btnEditModal mt-2  mb-2">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <hr>
                <div class="container mb-1">
                    <!-- listado de items cargados (id saco) -->
                    <div class=" mt-4" *ngFor="let skillW of skillWeb">
                        <div class="col-12">
                            <!-- <p><b>ID: </b> {{skillW.id}}</p> -->
                            <p><b>Skill: </b>{{skillW.nombre}}</p>
                            <p><b>Porcentaje: </b>{{skillW.porcentaje}}</p>
                        </div>
                        <div class="col-12 text-end">
                            <button class="btn btnEditModal" (click)="skillW.id? findSw(skillW.id): null" data-bs-toggle="modal"
                                data-bs-target="#modalEditOrAddSkillWeb">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn btnEditModal" (click)="skillW.id? deleteSw(skillW.id): null">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Edit Or Add Skill Web--------------------------------------------------------------------------------------------------->
<div class="modal fade" id="modalEditOrAddSkillWeb" tabindex="-1" aria-hidden="true" aria-labelledby="modalEditOrAddSkillWeb">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="modalEditOrAddSkillWeb">Agregar/Editar Skill Programación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
            </div>
            <div class="modal-body text-center justify-content-between">
                <form [formGroup]="swForm"> <!-- (ngSubmit)="onSubmit($event)" id="swForm"    tiene el save abajo-->
                    <!-- input nombre ------------------------------------------------------------------------- -->
                    <div class=" form-floating mb-4 mt-2">
                        <!-- [(ngModel)]="nombre" -->
                        <input type="text" formControlName="nombre" 
                            class="form-control rounded-0 formulariosinput" id="floatingInput47" placeholder="nombre"
                            [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched, 
                                          'is-valid': !Nombre?.errors }">
                        <label for="floatingInput47">Nombre Skill</label>
                    </div>
                    <div *ngIf="Nombre?.errors  && Nombre?.touched">
                        <p *ngIf="Nombre?.hasError('required')" class="error2 text-start">
                            * Ingrese el nombre de la habilidad
                        </p>
                    </div>
                    <!-- input porcentaje --------------------------------------------------------------------- -->
                    <div class=" form-floating mb-4">
                        <input type="number" min="0" max="100" formControlName="porcentaje" 
                            class="form-control rounded-0 formulariosinput" id="floatingInput52" placeholder="porcentaje"
                            [ngClass]="{'is-invalid': Porcentaje?.errors && Porcentaje?.touched, 
                                          'is-valid': !Porcentaje?.errors}">
                        <label for="floatingInput52">% Skill (número de 0-100)</label>
                    </div>
                    <div *ngIf="Porcentaje?.errors  && Porcentaje?.touched">
                        <p *ngIf="Porcentaje?.hasError('required')" class="error2 text-start">
                            * Ingrese un número de 0-100
                        </p>
                        <p *ngIf="Porcentaje?.errors?.['max']" class="error2 text-start">
                            * Ingrese un número de 0-100
                        </p>
                    </div>
                    <!-- guardar-------------------------------------------------------------------------------- -->
                    <br class="pt-0 mb-0">
                    <hr class="w-75 m-auto mt-0 mb-4">
                    <button type="btn" class="btn btn-ligth fa-solid fa-rotate-right" (click)="limpiar()"></button>
                    <button type="btn" class="w-100 mb-5 mt-3 btn btn-lg rounded-0 btn-loginout3" (click)="saveSw()"
                        data-bs-dismiss="modal" [disabled]="swForm.invalid">
                        Guardar
                    </button>
                    <!--    <i class="bi bi-check2-circle"></i> -->
                </form>
            </div>
        </div>
    </div>
</div>