<!--Modal sobremi-->
<form class="modal fade" id="modalEditSobremi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Sobre mi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- primera parte modal-------------------------------------------------------------- -->
            <div class="modal-body">
                <div class=" form-floating mb-3">
                    <input type="email" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">Cambiar título 1</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control rounded-0 formulariosinput" placeholder="Leave a comment here"
                        id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Modificar texto 1</label>
                </div>
                <br class="pt-3">
                <hr class="w-75 m-auto mt-4">
            </div>
            <!-- segunda parte modal-------------------------------------------------------------- -->
            <div class="modal-body">
                <div class=" form-floating mb-3">
                    <input type="email" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">Cambiar título 2</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control rounded-0 formulariosinput" placeholder="Leave a comment here"
                        id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Modificar texto 2</label>
                </div>
                <br class="pt-3">
                <hr class="w-75 m-auto mt-4">
            </div>
            <!-- tercera parte modal, banner? -------------------------------------------------------------- -->
            <div class="modal-body">
                <div class="container text-center justify-content-between">
                    <h5>Editar banner Sobre mi</h5>
                    <div class=" form-floating mb-3">
                        <input type="" class="form-control rounded-0 formulariosinput" id="floatingInput"
                            placeholder="url">
                        <label for="floatingInput">Nueva URL del banner</label>
                    </div>
                </div>
                <br class="py-5 mb-2">
                <hr class="w-75 m-auto mt-3">
            </div>
            <!-- aceptar---------------------------------------------------------------------------- -->
            <div class="modal-body">
                <button class="w-100 btn btn-lg rounded-0 btn-loginout3 mb-5" type="submit">Aceptar</button>
            </div>
        </div>
    </div>
</form>

<!-- 
            <div class="modal-body">       
                <div class=" form-floating mb-3">  -----------------------------LABEL FLOTANTE
                    <input type="email" class="form-control rounded-0 formulariosinput" id="floatingInput"
                        placeholder="text">
                    <label for="floatingInput">Cambiar título 2</label>
                </div>

                <div class="form-floating mb-3">        ------------------------------LABEL FLOTANTE PERO NO SE MUEVE Y SE SUPERPONE CON LO QUE ESCRIBAS
                    <label for="" class="form-label">Modificar título 2</label>
                    <input type="text" class="form-control rounded-0 formulariosinput" id="floatingInput"
                    placeholder="text" formcontrolname="">
                </div>
                <div class="form-floating mb-3">
                    <label for="" class="form-label">Modificar texto 2</label>
                    <textarea class=" rounded-0 textarea-modal" rows="5" formcontrolname=""></textarea>

                </div>
            </div> -->



<!-- no se porque tenia rows y cols
             tercera parte modal, banner? --------------------------------------------------------------
            <div class="modal-body">
                <div class="container text-center justify-content-between">
                    <div class="row g-4">
                        <div class="col">
                            <h5>Editar banner Sobre mi</h5>
                            <div class=" form-floating mb-3">
                                <input type="" class="form-control rounded-0 formulariosinput" id="floatingInput"
                                    placeholder="url">
                                <label for="floatingInput">Nueva URL del banner</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="py-5 mb-2">
                <hr class="w-75 m-auto mt-3">
            </div> -->